.care-remind{
  bottom: $footerHeight + 0.28rem;
  img{
    width:100%;
  }
  .loading {
    height: 0.8rem;
    background:url(../images/loading.gif) center 0.1rem no-repeat;
    background-size: 0.6rem;
    display: none;
  }
  .careR-list{
    margin-bottom: 20px;
    border-top: 1px solid #ddd;
    li{
      height: 190px;
      padding: 35px 25px;
      background: #fff;
      border-bottom: 1px solid #ddd;
      .pic {
        float: left;
        margin-right: 30px;
        img {
          display: block;
          width: 2.26rem;
          height: 1.72rem;
        }
      }
      .text{
        padding: 0 20px;
        height: 100%;
        position: relative;
        h4{
          font-size: 36px;
          margin-bottom: 15px;
          @include text-overflow();
        }
        p{
          font-size: 24px;
          color: #939393;
          line-height: 36px;
          word-break: break-all;
        }
        span{
          float: right;
        }
        img{
          width:71px;
          position: absolute;
          right: 0px;
          top: -20px;
        }
      }

    }
  }

  .careR-header{
    padding: 40px 25px;
    .text{
      h4{
        font-size: 36px;
        margin-bottom: 15px;
      }
      p{
        font-size: 32px;
        line-height: 52px;
        color: #999;
        b{
          font-weight: bold;
          font-size: 40px;
          color: $c1;
          &.red{
            color: #ff5f5f;
          }
        }
      }
    }
    .logo{
      float: left;
      width:260px;
      text-align: center;
      line-height: 170px;
      overflow: hidden;
      height: 170px;
      img{
        width:165px;
        vertical-align: middle;
      }
    }
    .btn{
      margin-top: 50px;
      margin-bottom: 10px;
      padding: 0 0.83rem;
      &:after {
        @include clearfix();
      }
      a{
        float: left;
        vertical-align: middle;
        @include button(48%, 0.97rem, $greenColor, #fff, 0.44rem, 0.14rem);
        &:last-of-type{
          background-color: #ffffff;
          color: $blueColor;
          margin-left: 4%;
        }
        i{
          vertical-align: middle;
          margin-right: 0.14rem;
        }
      }
    }
  }
}
.care-footer {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  border-top: 1px solid $borderColor;
  background-color: #fff;
  &:after {
    @include clearfix();
  }
  a {
    // $width, $height, $bgColor, $color, $fontSize, $borderRadius
    float: left;
    box-sizing: border-box;
    @include button(50%, $footerHeight, #fff, $color, 0.39rem, 0);
    &:first-of-type {
      border-right: 1px solid $borderColor;
    }
  }
}
