.header {
  position: absolute;
  left: 0;
  height: $headerHeight;
  line-height: $headerHeight;
  background-color: $bgColor;
  top: 0;
  width: 100%;
  border-bottom: 1px solid $borderColor;
  .title {
    text-align: center;
    @include text-overflow();
    font-size: 0.56rem;
    font-weight: normal;
  }
  .back, .action {
    position: absolute;
    width: 0.83rem;
    height: 0.83rem;
    top: 50%;
    margin-top: -0.415rem;
  }
  .back {
    left: 0.6rem;
  }
  .action {
    right: 0.6rem;
  }
  .cancel, .save {
    @include button(1.67rem, 0.7rem, $blueColor, #fff, 0.39rem, 0.1rem);
    position: absolute;
    top: 50%;
    margin-top: -0.35rem;
    right: 0.6rem;
  }
  .cancel {
    display: none;
  }
  .dropdown {
    position: absolute;
    top: $headerHeight;
    right: 0.6rem;
    width: 4.17rem;
    background-color: #49484b;
    z-index: 5;
    display: none;
    .list {
      display: block;
      vertical-align: middle;
      color: #fff;
      padding-left: 0.5rem;
      font-size: 0.44rem;
      border-bottom: 1px solid $borderColor;
      &:last-of-type {
        border-bottom: none;
      }
      i {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
