@include sprites($spritesheet-sprites)
[class^='icon'],[class*=' icon']{
  background: url(../images/sprite.png) no-repeat;
  background-size: $spritesheet-width  $spritesheet-height;
  display: inline-block;
}
