.jar {
	.status {
		text-align: center;
		padding: 0.69rem 0.28rem;
		.electric {
			height: 1.67rem;
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 2.19rem 1.65rem;
			font-size: 0.83rem;
			width: 2.5rem;
			margin: 0 auto;
			padding-left: 2.78rem;
			line-height: 1.65rem;
			@include text-overflow();
		}
		.volt {
			color: #333333;
			font-size: 0.56rem;
			line-height: 1.5;
			vertical-align: middle;
			@include text-overflow();
			span {
				color: $greenColor;
				font-size: 1.00rem;
			}
		}
		.updatetime {
			color: #333;
			line-height: 1.8;
			font-size: 0.44rem;
			@include text-overflow();
		}
		&.health {
			.electric {
				background-image: url(../images/electric_health.png);
				color: $greenColor;
			}
			.volt {
				span {
					color: $greenColor;
				}
			}
		}
		&.bad {
			.electric {
				background-image: url(../images/electric_bad.png);
				color: $yellowColor;
			}
			.volt {
				span {
					color: $yellowColor;
				}
			}
		}
	}

	.note {
		background-color: #fff;
		border-top:1px solid $borderColor;
		border-bottom:1px solid $borderColor;
		padding: 0.33rem 0.56rem;
		&:after {
			@include clearfix();
		}
		span {
			float: left;
			color: #666666;
			font-size: 0.44rem;
			line-height: 0.9rem;
		}
		.open, .close {
			float: right;
			width: 1.42rem;
			height: 0.9rem;
			background-image: url(../images/open_close.png);
			background-size: 100% 200%;
			background-repeat: no-repeat;
		}
		.open {
			background-position: 0 0;
		}
		.close {
			background-position: 0 100%;
		}
	}
	.chart {
		padding: 0.56rem 0.42rem 0.5rem;
		.title {
			color: $blueColor;
			text-align: center;
			font-size: 0.42rem;
			@include text-overflow();
			line-height: 2.5;
		}
		.line {
			height: 4.44rem;
		}
	}
	.feedback {
		a {
			//$width, $height, $bgColor, $color, $fontSize, $borderRadius
			@include button(90%, $buttonHeight, $blueColor, #fff, $buttonSize, 5px);
			margin: 0 auto;
			&:active {
				background-color: $blueActiveColor;
			}
		}
	}
}
