.jar {
	.status {
		text-align: center;
		padding: 0.69rem 0.28rem;
		.electric {
			height: 1.67rem;
			font-size: 0.83rem;
			text-align: center;
			line-height: 1.65rem;
			@include text-overflow();
			color: #939393;
			vertical-align: middle;
			i {
				display: inline-block;
				vertical-align: middle;
				margin-right: 0.42rem
			}
		}
		.volt {
			color: #333333;
			font-size: 0.56rem;
			line-height: 1.5;
			vertical-align: middle;
			@include text-overflow();
			span {
				color: $greenColor;
				font-size: 1.00rem;
			}
		}
		.updatetime {
			color: #333;
			line-height: 1.8;
			font-size: 0.42rem;
			@include text-overflow();
		}
		&.health {
			.electric {
				color: $greenColor;
			}
			.volt {
				span {
					color: $greenColor;
				}
			}
		}
		&.bad {
			.electric {
				color: $yellowColor;
			}
			.volt {
				span {
					color: $yellowColor;
				}
			}
		}
	}

	.note {
		background-color: #fff;
		border-top:1px solid $borderColor;
		border-bottom:1px solid $borderColor;
		padding: 0.33rem 0.56rem;
		&:after {
			@include clearfix();
		}
		span {
			float: left;
			color: #666666;
			font-size: 0.44rem;
			line-height: 0.9rem;
		}
		.switch {
			float: right;
			width: 1.39rem;
			height: 0.92rem;
			i {
				display: block;
			}
		}
		.open {
			background-position: 0 0;
		}
		.close {
			background-position: 0 100%;
		}
	}
	.chart {
		padding: 0.56rem 0.42rem 0.5rem;
		.title {
			color: $blueColor;
			text-align: center;
			font-size: 0.42rem;
			@include text-overflow();
			line-height: 2.5;
		}
		.line {
			height: 4.44rem;
		}
	}
	.feedback {
		a {
			//$width, $height, $bgColor, $color, $fontSize, $borderRadius
			@include button(90%, $buttonHeight, $blueColor, #fff, $buttonSize, 5px);
			margin: 0 auto;
			&:active {
				background-color: $blueActiveColor;
			}
		}
	}
}
