.maintain {
  .article {
    .list {
      .link {
        display: block;
        &:after {
          @include clearfix();
        }
        .img {
          float: left;
          width: 2.26rem;
          height: 1.72rem;
        }
        .text {

        }
      }
    }
  }
}
