// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow-name: 'icon-arrow';
$icon-arrow-x: 123px;
$icon-arrow-y: 360px;
$icon-arrow-offset-x: -123px;
$icon-arrow-offset-y: -360px;
$icon-arrow-width: 40px;
$icon-arrow-height: 26px;
$icon-arrow-total-width: 483px;
$icon-arrow-total-height: 454px;
$icon-arrow-image: '../images/sprite.png';
$icon-arrow: (123px, 360px, -123px, -360px, 40px, 26px, 483px, 454px, '../images/sprite.png', 'icon-arrow', );
$icon-care1-name: 'icon-care1';
$icon-care1-x: 51px;
$icon-care1-y: 414px;
$icon-care1-offset-x: -51px;
$icon-care1-offset-y: -414px;
$icon-care1-width: 27px;
$icon-care1-height: 27px;
$icon-care1-total-width: 483px;
$icon-care1-total-height: 454px;
$icon-care1-image: '../images/sprite.png';
$icon-care1: (51px, 414px, -51px, -414px, 27px, 27px, 483px, 454px, '../images/sprite.png', 'icon-care1', );
$icon-care2-name: 'icon-care2';
$icon-care2-x: 173px;
$icon-care2-y: 360px;
$icon-care2-offset-x: -173px;
$icon-care2-offset-y: -360px;
$icon-care2-width: 26px;
$icon-care2-height: 26px;
$icon-care2-total-width: 483px;
$icon-care2-total-height: 454px;
$icon-care2-image: '../images/sprite.png';
$icon-care2: (173px, 360px, -173px, -360px, 26px, 26px, 483px, 454px, '../images/sprite.png', 'icon-care2', );
$icon-code1-name: 'icon-code1';
$icon-code1-x: 0px;
$icon-code1-y: 414px;
$icon-code1-offset-x: 0px;
$icon-code1-offset-y: -414px;
$icon-code1-width: 41px;
$icon-code1-height: 40px;
$icon-code1-total-width: 483px;
$icon-code1-total-height: 454px;
$icon-code1-image: '../images/sprite.png';
$icon-code1: (0px, 414px, 0px, -414px, 41px, 40px, 483px, 454px, '../images/sprite.png', 'icon-code1', );
$icon-code2-name: 'icon-code2';
$icon-code2-x: 430px;
$icon-code2-y: 330px;
$icon-code2-offset-x: -430px;
$icon-code2-offset-y: -330px;
$icon-code2-width: 42px;
$icon-code2-height: 41px;
$icon-code2-total-width: 483px;
$icon-code2-total-height: 454px;
$icon-code2-image: '../images/sprite.png';
$icon-code2: (430px, 330px, -430px, -330px, 42px, 41px, 483px, 454px, '../images/sprite.png', 'icon-code2', );
$icon-result1-name: 'icon-result1';
$icon-result1-x: 180px;
$icon-result1-y: 0px;
$icon-result1-offset-x: -180px;
$icon-result1-offset-y: 0px;
$icon-result1-width: 80px;
$icon-result1-height: 80px;
$icon-result1-total-width: 483px;
$icon-result1-total-height: 454px;
$icon-result1-image: '../images/sprite.png';
$icon-result1: (180px, 0px, -180px, 0px, 80px, 80px, 483px, 454px, '../images/sprite.png', 'icon-result1', );
$icon-result10-name: 'icon-result10';
$icon-result10-x: 180px;
$icon-result10-y: 90px;
$icon-result10-offset-x: -180px;
$icon-result10-offset-y: -90px;
$icon-result10-width: 80px;
$icon-result10-height: 80px;
$icon-result10-total-width: 483px;
$icon-result10-total-height: 454px;
$icon-result10-image: '../images/sprite.png';
$icon-result10: (180px, 90px, -180px, -90px, 80px, 80px, 483px, 454px, '../images/sprite.png', 'icon-result10', );
$icon-result11-name: 'icon-result11';
$icon-result11-x: 0px;
$icon-result11-y: 180px;
$icon-result11-offset-x: 0px;
$icon-result11-offset-y: -180px;
$icon-result11-width: 80px;
$icon-result11-height: 80px;
$icon-result11-total-width: 483px;
$icon-result11-total-height: 454px;
$icon-result11-image: '../images/sprite.png';
$icon-result11: (0px, 180px, 0px, -180px, 80px, 80px, 483px, 454px, '../images/sprite.png', 'icon-result11', );
$icon-result12-name: 'icon-result12';
$icon-result12-x: 90px;
$icon-result12-y: 180px;
$icon-result12-offset-x: -90px;
$icon-result12-offset-y: -180px;
$icon-result12-width: 80px;
$icon-result12-height: 80px;
$icon-result12-total-width: 483px;
$icon-result12-total-height: 454px;
$icon-result12-image: '../images/sprite.png';
$icon-result12: (90px, 180px, -90px, -180px, 80px, 80px, 483px, 454px, '../images/sprite.png', 'icon-result12', );
$icon-result13-name: 'icon-result13';
$icon-result13-x: 180px;
$icon-result13-y: 180px;
$icon-result13-offset-x: -180px;
$icon-result13-offset-y: -180px;
$icon-result13-width: 80px;
$icon-result13-height: 80px;
$icon-result13-total-width: 483px;
$icon-result13-total-height: 454px;
$icon-result13-image: '../images/sprite.png';
$icon-result13: (180px, 180px, -180px, -180px, 80px, 80px, 483px, 454px, '../images/sprite.png', 'icon-result13', );
$icon-result14-name: 'icon-result14';
$icon-result14-x: 270px;
$icon-result14-y: 0px;
$icon-result14-offset-x: -270px;
$icon-result14-offset-y: 0px;
$icon-result14-width: 80px;
$icon-result14-height: 80px;
$icon-result14-total-width: 483px;
$icon-result14-total-height: 454px;
$icon-result14-image: '../images/sprite.png';
$icon-result14: (270px, 0px, -270px, 0px, 80px, 80px, 483px, 454px, '../images/sprite.png', 'icon-result14', );
$icon-result15-name: 'icon-result15';
$icon-result15-x: 270px;
$icon-result15-y: 90px;
$icon-result15-offset-x: -270px;
$icon-result15-offset-y: -90px;
$icon-result15-width: 80px;
$icon-result15-height: 80px;
$icon-result15-total-width: 483px;
$icon-result15-total-height: 454px;
$icon-result15-image: '../images/sprite.png';
$icon-result15: (270px, 90px, -270px, -90px, 80px, 80px, 483px, 454px, '../images/sprite.png', 'icon-result15', );
$icon-result16-name: 'icon-result16';
$icon-result16-x: 270px;
$icon-result16-y: 180px;
$icon-result16-offset-x: -270px;
$icon-result16-offset-y: -180px;
$icon-result16-width: 80px;
$icon-result16-height: 80px;
$icon-result16-total-width: 483px;
$icon-result16-total-height: 454px;
$icon-result16-image: '../images/sprite.png';
$icon-result16: (270px, 180px, -270px, -180px, 80px, 80px, 483px, 454px, '../images/sprite.png', 'icon-result16', );
$icon-result2-name: 'icon-result2';
$icon-result2-x: 0px;
$icon-result2-y: 270px;
$icon-result2-offset-x: 0px;
$icon-result2-offset-y: -270px;
$icon-result2-width: 80px;
$icon-result2-height: 80px;
$icon-result2-total-width: 483px;
$icon-result2-total-height: 454px;
$icon-result2-image: '../images/sprite.png';
$icon-result2: (0px, 270px, 0px, -270px, 80px, 80px, 483px, 454px, '../images/sprite.png', 'icon-result2', );
$icon-result3-name: 'icon-result3';
$icon-result3-x: 90px;
$icon-result3-y: 270px;
$icon-result3-offset-x: -90px;
$icon-result3-offset-y: -270px;
$icon-result3-width: 80px;
$icon-result3-height: 80px;
$icon-result3-total-width: 483px;
$icon-result3-total-height: 454px;
$icon-result3-image: '../images/sprite.png';
$icon-result3: (90px, 270px, -90px, -270px, 80px, 80px, 483px, 454px, '../images/sprite.png', 'icon-result3', );
$icon-result4-name: 'icon-result4';
$icon-result4-x: 180px;
$icon-result4-y: 270px;
$icon-result4-offset-x: -180px;
$icon-result4-offset-y: -270px;
$icon-result4-width: 80px;
$icon-result4-height: 80px;
$icon-result4-total-width: 483px;
$icon-result4-total-height: 454px;
$icon-result4-image: '../images/sprite.png';
$icon-result4: (180px, 270px, -180px, -270px, 80px, 80px, 483px, 454px, '../images/sprite.png', 'icon-result4', );
$icon-result5-name: 'icon-result5';
$icon-result5-x: 0px;
$icon-result5-y: 0px;
$icon-result5-offset-x: 0px;
$icon-result5-offset-y: 0px;
$icon-result5-width: 80px;
$icon-result5-height: 80px;
$icon-result5-total-width: 483px;
$icon-result5-total-height: 454px;
$icon-result5-image: '../images/sprite.png';
$icon-result5: (0px, 0px, 0px, 0px, 80px, 80px, 483px, 454px, '../images/sprite.png', 'icon-result5', );
$icon-result6-name: 'icon-result6';
$icon-result6-x: 90px;
$icon-result6-y: 0px;
$icon-result6-offset-x: -90px;
$icon-result6-offset-y: 0px;
$icon-result6-width: 80px;
$icon-result6-height: 80px;
$icon-result6-total-width: 483px;
$icon-result6-total-height: 454px;
$icon-result6-image: '../images/sprite.png';
$icon-result6: (90px, 0px, -90px, 0px, 80px, 80px, 483px, 454px, '../images/sprite.png', 'icon-result6', );
$icon-result7-name: 'icon-result7';
$icon-result7-x: 270px;
$icon-result7-y: 270px;
$icon-result7-offset-x: -270px;
$icon-result7-offset-y: -270px;
$icon-result7-width: 80px;
$icon-result7-height: 80px;
$icon-result7-total-width: 483px;
$icon-result7-total-height: 454px;
$icon-result7-image: '../images/sprite.png';
$icon-result7: (270px, 270px, -270px, -270px, 80px, 80px, 483px, 454px, '../images/sprite.png', 'icon-result7', );
$icon-result8-name: 'icon-result8';
$icon-result8-x: 90px;
$icon-result8-y: 90px;
$icon-result8-offset-x: -90px;
$icon-result8-offset-y: -90px;
$icon-result8-width: 80px;
$icon-result8-height: 80px;
$icon-result8-total-width: 483px;
$icon-result8-total-height: 454px;
$icon-result8-image: '../images/sprite.png';
$icon-result8: (90px, 90px, -90px, -90px, 80px, 80px, 483px, 454px, '../images/sprite.png', 'icon-result8', );
$icon-result9-name: 'icon-result9';
$icon-result9-x: 0px;
$icon-result9-y: 90px;
$icon-result9-offset-x: 0px;
$icon-result9-offset-y: -90px;
$icon-result9-width: 80px;
$icon-result9-height: 80px;
$icon-result9-total-width: 483px;
$icon-result9-total-height: 454px;
$icon-result9-image: '../images/sprite.png';
$icon-result9: (0px, 90px, 0px, -90px, 80px, 80px, 483px, 454px, '../images/sprite.png', 'icon-result9', );
$icon1-name: 'icon1';
$icon1-x: 360px;
$icon1-y: 235px;
$icon1-offset-x: -360px;
$icon1-offset-y: -235px;
$icon1-width: 55px;
$icon1-height: 44px;
$icon1-total-width: 483px;
$icon1-total-height: 454px;
$icon1-image: '../images/sprite.png';
$icon1: (360px, 235px, -360px, -235px, 55px, 44px, 483px, 454px, '../images/sprite.png', 'icon1', );
$icon1a-name: 'icon1a';
$icon1a-x: 360px;
$icon1a-y: 289px;
$icon1a-offset-x: -360px;
$icon1a-offset-y: -289px;
$icon1a-width: 55px;
$icon1a-height: 44px;
$icon1a-total-width: 483px;
$icon1a-total-height: 454px;
$icon1a-image: '../images/sprite.png';
$icon1a: (360px, 289px, -360px, -289px, 55px, 44px, 483px, 454px, '../images/sprite.png', 'icon1a', );
$icon1b-name: 'icon1b';
$icon1b-x: 0px;
$icon1b-y: 360px;
$icon1b-offset-x: 0px;
$icon1b-offset-y: -360px;
$icon1b-width: 55px;
$icon1b-height: 44px;
$icon1b-total-width: 483px;
$icon1b-total-height: 454px;
$icon1b-image: '../images/sprite.png';
$icon1b: (0px, 360px, 0px, -360px, 55px, 44px, 483px, 454px, '../images/sprite.png', 'icon1b', );
$icon2-name: 'icon2';
$icon2-x: 360px;
$icon2-y: 70px;
$icon2-offset-x: -360px;
$icon2-offset-y: -70px;
$icon2-width: 59px;
$icon2-height: 45px;
$icon2-total-width: 483px;
$icon2-total-height: 454px;
$icon2-image: '../images/sprite.png';
$icon2: (360px, 70px, -360px, -70px, 59px, 45px, 483px, 454px, '../images/sprite.png', 'icon2', );
$icon2a-name: 'icon2a';
$icon2a-x: 360px;
$icon2a-y: 180px;
$icon2a-offset-x: -360px;
$icon2a-offset-y: -180px;
$icon2a-width: 59px;
$icon2a-height: 45px;
$icon2a-total-width: 483px;
$icon2a-total-height: 454px;
$icon2a-image: '../images/sprite.png';
$icon2a: (360px, 180px, -360px, -180px, 59px, 45px, 483px, 454px, '../images/sprite.png', 'icon2a', );
$icon2b-name: 'icon2b';
$icon2b-x: 360px;
$icon2b-y: 125px;
$icon2b-offset-x: -360px;
$icon2b-offset-y: -125px;
$icon2b-width: 59px;
$icon2b-height: 45px;
$icon2b-total-width: 483px;
$icon2b-total-height: 454px;
$icon2b-image: '../images/sprite.png';
$icon2b: (360px, 125px, -360px, -125px, 59px, 45px, 483px, 454px, '../images/sprite.png', 'icon2b', );
$icon3-name: 'icon3';
$icon3-x: 430px;
$icon3-y: 165px;
$icon3-offset-x: -430px;
$icon3-offset-y: -165px;
$icon3-width: 50px;
$icon3-height: 45px;
$icon3-total-width: 483px;
$icon3-total-height: 454px;
$icon3-image: '../images/sprite.png';
$icon3: (430px, 165px, -430px, -165px, 50px, 45px, 483px, 454px, '../images/sprite.png', 'icon3', );
$icon3a-name: 'icon3a';
$icon3a-x: 430px;
$icon3a-y: 220px;
$icon3a-offset-x: -430px;
$icon3a-offset-y: -220px;
$icon3a-width: 50px;
$icon3a-height: 45px;
$icon3a-total-width: 483px;
$icon3a-total-height: 454px;
$icon3a-image: '../images/sprite.png';
$icon3a: (430px, 220px, -430px, -220px, 50px, 45px, 483px, 454px, '../images/sprite.png', 'icon3a', );
$icon3b-name: 'icon3b';
$icon3b-x: 430px;
$icon3b-y: 275px;
$icon3b-offset-x: -430px;
$icon3b-offset-y: -275px;
$icon3b-width: 50px;
$icon3b-height: 45px;
$icon3b-total-width: 483px;
$icon3b-total-height: 454px;
$icon3b-image: '../images/sprite.png';
$icon3b: (430px, 275px, -430px, -275px, 50px, 45px, 483px, 454px, '../images/sprite.png', 'icon3b', );
$icon4-name: 'icon4';
$icon4-x: 430px;
$icon4-y: 110px;
$icon4-offset-x: -430px;
$icon4-offset-y: -110px;
$icon4-width: 53px;
$icon4-height: 45px;
$icon4-total-width: 483px;
$icon4-total-height: 454px;
$icon4-image: '../images/sprite.png';
$icon4: (430px, 110px, -430px, -110px, 53px, 45px, 483px, 454px, '../images/sprite.png', 'icon4', );
$icon4a-name: 'icon4a';
$icon4a-x: 430px;
$icon4a-y: 55px;
$icon4a-offset-x: -430px;
$icon4a-offset-y: -55px;
$icon4a-width: 53px;
$icon4a-height: 45px;
$icon4a-total-width: 483px;
$icon4a-total-height: 454px;
$icon4a-image: '../images/sprite.png';
$icon4a: (430px, 55px, -430px, -55px, 53px, 45px, 483px, 454px, '../images/sprite.png', 'icon4a', );
$icon4b-name: 'icon4b';
$icon4b-x: 430px;
$icon4b-y: 0px;
$icon4b-offset-x: -430px;
$icon4b-offset-y: 0px;
$icon4b-width: 53px;
$icon4b-height: 45px;
$icon4b-total-width: 483px;
$icon4b-total-height: 454px;
$icon4b-image: '../images/sprite.png';
$icon4b: (430px, 0px, -430px, 0px, 53px, 45px, 483px, 454px, '../images/sprite.png', 'icon4b', );
$icon-back-name: 'icon_back';
$icon-back-x: 360px;
$icon-back-y: 0px;
$icon-back-offset-x: -360px;
$icon-back-offset-y: 0px;
$icon-back-width: 60px;
$icon-back-height: 60px;
$icon-back-total-width: 483px;
$icon-back-total-height: 454px;
$icon-back-image: '../images/sprite.png';
$icon-back: (360px, 0px, -360px, 0px, 60px, 60px, 483px, 454px, '../images/sprite.png', 'icon_back', );
$icon-list-name: 'icon_list';
$icon-list-x: 65px;
$icon-list-y: 360px;
$icon-list-offset-x: -65px;
$icon-list-offset-y: -360px;
$icon-list-width: 48px;
$icon-list-height: 34px;
$icon-list-total-width: 483px;
$icon-list-total-height: 454px;
$icon-list-image: '../images/sprite.png';
$icon-list: (65px, 360px, -65px, -360px, 48px, 34px, 483px, 454px, '../images/sprite.png', 'icon_list', );
$spritesheet-width: 483px;
$spritesheet-height: 454px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-arrow, $icon-care1, $icon-care2, $icon-code1, $icon-code2, $icon-result1, $icon-result10, $icon-result11, $icon-result12, $icon-result13, $icon-result14, $icon-result15, $icon-result16, $icon-result2, $icon-result3, $icon-result4, $icon-result5, $icon-result6, $icon-result7, $icon-result8, $icon-result9, $icon1, $icon1a, $icon1b, $icon2, $icon2a, $icon2b, $icon3, $icon3a, $icon3b, $icon4, $icon4a, $icon4b, $icon-back, $icon-list, );
$spritesheet: (483px, 454px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
