// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow-name: 'icon-arrow';
$icon-arrow-x: 580px;
$icon-arrow-y: 450px;
$icon-arrow-offset-x: -580px;
$icon-arrow-offset-y: -450px;
$icon-arrow-width: 40px;
$icon-arrow-height: 26px;
$icon-arrow-total-width: 749px;
$icon-arrow-total-height: 713px;
$icon-arrow-image: '../images/sprite.png';
$icon-arrow: (580px, 450px, -580px, -450px, 40px, 26px, 749px, 713px, '../images/sprite.png', 'icon-arrow', );
$icon-code1-name: 'icon-code1';
$icon-code1-x: 282px;
$icon-code1-y: 668px;
$icon-code1-offset-x: -282px;
$icon-code1-offset-y: -668px;
$icon-code1-width: 41px;
$icon-code1-height: 40px;
$icon-code1-total-width: 749px;
$icon-code1-total-height: 713px;
$icon-code1-image: '../images/sprite.png';
$icon-code1: (282px, 668px, -282px, -668px, 41px, 40px, 749px, 713px, '../images/sprite.png', 'icon-code1', );
$icon-code2-name: 'icon-code2';
$icon-code2-x: 230px;
$icon-code2-y: 668px;
$icon-code2-offset-x: -230px;
$icon-code2-offset-y: -668px;
$icon-code2-width: 42px;
$icon-code2-height: 41px;
$icon-code2-total-width: 749px;
$icon-code2-total-height: 713px;
$icon-code2-image: '../images/sprite.png';
$icon-code2: (230px, 668px, -230px, -668px, 42px, 41px, 749px, 713px, '../images/sprite.png', 'icon-code2', );
$icon-result1-name: 'icon-result1';
$icon-result1-x: 0px;
$icon-result1-y: 409px;
$icon-result1-offset-x: 0px;
$icon-result1-offset-y: -409px;
$icon-result1-width: 80px;
$icon-result1-height: 80px;
$icon-result1-total-width: 749px;
$icon-result1-total-height: 713px;
$icon-result1-image: '../images/sprite.png';
$icon-result1: (0px, 409px, 0px, -409px, 80px, 80px, 749px, 713px, '../images/sprite.png', 'icon-result1', );
$icon-result10-name: 'icon-result10';
$icon-result10-x: 450px;
$icon-result10-y: 409px;
$icon-result10-offset-x: -450px;
$icon-result10-offset-y: -409px;
$icon-result10-width: 80px;
$icon-result10-height: 80px;
$icon-result10-total-width: 749px;
$icon-result10-total-height: 713px;
$icon-result10-image: '../images/sprite.png';
$icon-result10: (450px, 409px, -450px, -409px, 80px, 80px, 749px, 713px, '../images/sprite.png', 'icon-result10', );
$icon-result11-name: 'icon-result11';
$icon-result11-x: 580px;
$icon-result11-y: 0px;
$icon-result11-offset-x: -580px;
$icon-result11-offset-y: 0px;
$icon-result11-width: 80px;
$icon-result11-height: 80px;
$icon-result11-total-width: 749px;
$icon-result11-total-height: 713px;
$icon-result11-image: '../images/sprite.png';
$icon-result11: (580px, 0px, -580px, 0px, 80px, 80px, 749px, 713px, '../images/sprite.png', 'icon-result11', );
$icon-result12-name: 'icon-result12';
$icon-result12-x: 580px;
$icon-result12-y: 90px;
$icon-result12-offset-x: -580px;
$icon-result12-offset-y: -90px;
$icon-result12-width: 80px;
$icon-result12-height: 80px;
$icon-result12-total-width: 749px;
$icon-result12-total-height: 713px;
$icon-result12-image: '../images/sprite.png';
$icon-result12: (580px, 90px, -580px, -90px, 80px, 80px, 749px, 713px, '../images/sprite.png', 'icon-result12', );
$icon-result13-name: 'icon-result13';
$icon-result13-x: 580px;
$icon-result13-y: 180px;
$icon-result13-offset-x: -580px;
$icon-result13-offset-y: -180px;
$icon-result13-width: 80px;
$icon-result13-height: 80px;
$icon-result13-total-width: 749px;
$icon-result13-total-height: 713px;
$icon-result13-image: '../images/sprite.png';
$icon-result13: (580px, 180px, -580px, -180px, 80px, 80px, 749px, 713px, '../images/sprite.png', 'icon-result13', );
$icon-result14-name: 'icon-result14';
$icon-result14-x: 580px;
$icon-result14-y: 270px;
$icon-result14-offset-x: -580px;
$icon-result14-offset-y: -270px;
$icon-result14-width: 80px;
$icon-result14-height: 80px;
$icon-result14-total-width: 749px;
$icon-result14-total-height: 713px;
$icon-result14-image: '../images/sprite.png';
$icon-result14: (580px, 270px, -580px, -270px, 80px, 80px, 749px, 713px, '../images/sprite.png', 'icon-result14', );
$icon-result15-name: 'icon-result15';
$icon-result15-x: 580px;
$icon-result15-y: 360px;
$icon-result15-offset-x: -580px;
$icon-result15-offset-y: -360px;
$icon-result15-width: 80px;
$icon-result15-height: 80px;
$icon-result15-total-width: 749px;
$icon-result15-total-height: 713px;
$icon-result15-image: '../images/sprite.png';
$icon-result15: (580px, 360px, -580px, -360px, 80px, 80px, 749px, 713px, '../images/sprite.png', 'icon-result15', );
$icon-result16-name: 'icon-result16';
$icon-result16-x: 0px;
$icon-result16-y: 499px;
$icon-result16-offset-x: 0px;
$icon-result16-offset-y: -499px;
$icon-result16-width: 80px;
$icon-result16-height: 80px;
$icon-result16-total-width: 749px;
$icon-result16-total-height: 713px;
$icon-result16-image: '../images/sprite.png';
$icon-result16: (0px, 499px, 0px, -499px, 80px, 80px, 749px, 713px, '../images/sprite.png', 'icon-result16', );
$icon-result2-name: 'icon-result2';
$icon-result2-x: 490px;
$icon-result2-y: 0px;
$icon-result2-offset-x: -490px;
$icon-result2-offset-y: 0px;
$icon-result2-width: 80px;
$icon-result2-height: 80px;
$icon-result2-total-width: 749px;
$icon-result2-total-height: 713px;
$icon-result2-image: '../images/sprite.png';
$icon-result2: (490px, 0px, -490px, 0px, 80px, 80px, 749px, 713px, '../images/sprite.png', 'icon-result2', );
$icon-result3-name: 'icon-result3';
$icon-result3-x: 490px;
$icon-result3-y: 90px;
$icon-result3-offset-x: -490px;
$icon-result3-offset-y: -90px;
$icon-result3-width: 80px;
$icon-result3-height: 80px;
$icon-result3-total-width: 749px;
$icon-result3-total-height: 713px;
$icon-result3-image: '../images/sprite.png';
$icon-result3: (490px, 90px, -490px, -90px, 80px, 80px, 749px, 713px, '../images/sprite.png', 'icon-result3', );
$icon-result4-name: 'icon-result4';
$icon-result4-x: 490px;
$icon-result4-y: 180px;
$icon-result4-offset-x: -490px;
$icon-result4-offset-y: -180px;
$icon-result4-width: 80px;
$icon-result4-height: 80px;
$icon-result4-total-width: 749px;
$icon-result4-total-height: 713px;
$icon-result4-image: '../images/sprite.png';
$icon-result4: (490px, 180px, -490px, -180px, 80px, 80px, 749px, 713px, '../images/sprite.png', 'icon-result4', );
$icon-result5-name: 'icon-result5';
$icon-result5-x: 490px;
$icon-result5-y: 270px;
$icon-result5-offset-x: -490px;
$icon-result5-offset-y: -270px;
$icon-result5-width: 80px;
$icon-result5-height: 80px;
$icon-result5-total-width: 749px;
$icon-result5-total-height: 713px;
$icon-result5-image: '../images/sprite.png';
$icon-result5: (490px, 270px, -490px, -270px, 80px, 80px, 749px, 713px, '../images/sprite.png', 'icon-result5', );
$icon-result6-name: 'icon-result6';
$icon-result6-x: 360px;
$icon-result6-y: 409px;
$icon-result6-offset-x: -360px;
$icon-result6-offset-y: -409px;
$icon-result6-width: 80px;
$icon-result6-height: 80px;
$icon-result6-total-width: 749px;
$icon-result6-total-height: 713px;
$icon-result6-image: '../images/sprite.png';
$icon-result6: (360px, 409px, -360px, -409px, 80px, 80px, 749px, 713px, '../images/sprite.png', 'icon-result6', );
$icon-result7-name: 'icon-result7';
$icon-result7-x: 90px;
$icon-result7-y: 409px;
$icon-result7-offset-x: -90px;
$icon-result7-offset-y: -409px;
$icon-result7-width: 80px;
$icon-result7-height: 80px;
$icon-result7-total-width: 749px;
$icon-result7-total-height: 713px;
$icon-result7-image: '../images/sprite.png';
$icon-result7: (90px, 409px, -90px, -409px, 80px, 80px, 749px, 713px, '../images/sprite.png', 'icon-result7', );
$icon-result8-name: 'icon-result8';
$icon-result8-x: 180px;
$icon-result8-y: 409px;
$icon-result8-offset-x: -180px;
$icon-result8-offset-y: -409px;
$icon-result8-width: 80px;
$icon-result8-height: 80px;
$icon-result8-total-width: 749px;
$icon-result8-total-height: 713px;
$icon-result8-image: '../images/sprite.png';
$icon-result8: (180px, 409px, -180px, -409px, 80px, 80px, 749px, 713px, '../images/sprite.png', 'icon-result8', );
$icon-result9-name: 'icon-result9';
$icon-result9-x: 270px;
$icon-result9-y: 409px;
$icon-result9-offset-x: -270px;
$icon-result9-offset-y: -409px;
$icon-result9-width: 80px;
$icon-result9-height: 80px;
$icon-result9-total-width: 749px;
$icon-result9-total-height: 713px;
$icon-result9-image: '../images/sprite.png';
$icon-result9: (270px, 409px, -270px, -409px, 80px, 80px, 749px, 713px, '../images/sprite.png', 'icon-result9', );
$icon1-name: 'icon1';
$icon1-x: 304px;
$icon1-y: 204px;
$icon1-offset-x: -304px;
$icon1-offset-y: -204px;
$icon1-width: 55px;
$icon1-height: 44px;
$icon1-total-width: 749px;
$icon1-total-height: 713px;
$icon1-image: '../images/sprite.png';
$icon1: (304px, 204px, -304px, -204px, 55px, 44px, 749px, 713px, '../images/sprite.png', 'icon1', );
$icon1a-name: 'icon1a';
$icon1a-x: 269px;
$icon1a-y: 129px;
$icon1a-offset-x: -269px;
$icon1a-offset-y: -129px;
$icon1a-width: 55px;
$icon1a-height: 44px;
$icon1a-total-width: 749px;
$icon1a-total-height: 713px;
$icon1a-image: '../images/sprite.png';
$icon1a: (269px, 129px, -269px, -129px, 55px, 44px, 749px, 713px, '../images/sprite.png', 'icon1a', );
$icon1b-name: 'icon1b';
$icon1b-x: 204px;
$icon1b-y: 129px;
$icon1b-offset-x: -204px;
$icon1b-offset-y: -129px;
$icon1b-width: 55px;
$icon1b-height: 44px;
$icon1b-total-width: 749px;
$icon1b-total-height: 713px;
$icon1b-image: '../images/sprite.png';
$icon1b: (204px, 129px, -204px, -129px, 55px, 44px, 749px, 713px, '../images/sprite.png', 'icon1b', );
$icon2-name: 'icon2';
$icon2-x: 670px;
$icon2-y: 438px;
$icon2-offset-x: -670px;
$icon2-offset-y: -438px;
$icon2-width: 59px;
$icon2-height: 45px;
$icon2-total-width: 749px;
$icon2-total-height: 713px;
$icon2-image: '../images/sprite.png';
$icon2: (670px, 438px, -670px, -438px, 59px, 45px, 749px, 713px, '../images/sprite.png', 'icon2', );
$icon2a-name: 'icon2a';
$icon2a-x: 670px;
$icon2a-y: 493px;
$icon2a-offset-x: -670px;
$icon2a-offset-y: -493px;
$icon2a-width: 59px;
$icon2a-height: 45px;
$icon2a-total-width: 749px;
$icon2a-total-height: 713px;
$icon2a-image: '../images/sprite.png';
$icon2a: (670px, 493px, -670px, -493px, 59px, 45px, 749px, 713px, '../images/sprite.png', 'icon2a', );
$icon2b-name: 'icon2b';
$icon2b-x: 670px;
$icon2b-y: 548px;
$icon2b-offset-x: -670px;
$icon2b-offset-y: -548px;
$icon2b-width: 59px;
$icon2b-height: 45px;
$icon2b-total-width: 749px;
$icon2b-total-height: 713px;
$icon2b-image: '../images/sprite.png';
$icon2b: (670px, 548px, -670px, -548px, 59px, 45px, 749px, 713px, '../images/sprite.png', 'icon2b', );
$icon3-name: 'icon3';
$icon3-x: 409px;
$icon3-y: 333px;
$icon3-offset-x: -409px;
$icon3-offset-y: -333px;
$icon3-width: 50px;
$icon3-height: 45px;
$icon3-total-width: 749px;
$icon3-total-height: 713px;
$icon3-image: '../images/sprite.png';
$icon3: (409px, 333px, -409px, -333px, 50px, 45px, 749px, 713px, '../images/sprite.png', 'icon3', );
$icon3a-name: 'icon3a';
$icon3a-x: 0px;
$icon3a-y: 668px;
$icon3a-offset-x: 0px;
$icon3a-offset-y: -668px;
$icon3a-width: 50px;
$icon3a-height: 45px;
$icon3a-total-width: 749px;
$icon3a-total-height: 713px;
$icon3a-image: '../images/sprite.png';
$icon3a: (0px, 668px, 0px, -668px, 50px, 45px, 749px, 713px, '../images/sprite.png', 'icon3a', );
$icon3b-name: 'icon3b';
$icon3b-x: 60px;
$icon3b-y: 668px;
$icon3b-offset-x: -60px;
$icon3b-offset-y: -668px;
$icon3b-width: 50px;
$icon3b-height: 45px;
$icon3b-total-width: 749px;
$icon3b-total-height: 713px;
$icon3b-image: '../images/sprite.png';
$icon3b: (60px, 668px, -60px, -668px, 50px, 45px, 749px, 713px, '../images/sprite.png', 'icon3b', );
$icon4-name: 'icon4';
$icon4-x: 220px;
$icon4-y: 333px;
$icon4-offset-x: -220px;
$icon4-offset-y: -333px;
$icon4-width: 53px;
$icon4-height: 45px;
$icon4-total-width: 749px;
$icon4-total-height: 713px;
$icon4-image: '../images/sprite.png';
$icon4: (220px, 333px, -220px, -333px, 53px, 45px, 749px, 713px, '../images/sprite.png', 'icon4', );
$icon4a-name: 'icon4a';
$icon4a-x: 346px;
$icon4a-y: 333px;
$icon4a-offset-x: -346px;
$icon4a-offset-y: -333px;
$icon4a-width: 53px;
$icon4a-height: 45px;
$icon4a-total-width: 749px;
$icon4a-total-height: 713px;
$icon4a-image: '../images/sprite.png';
$icon4a: (346px, 333px, -346px, -333px, 53px, 45px, 749px, 713px, '../images/sprite.png', 'icon4a', );
$icon4b-name: 'icon4b';
$icon4b-x: 283px;
$icon4b-y: 333px;
$icon4b-offset-x: -283px;
$icon4b-offset-y: -333px;
$icon4b-width: 53px;
$icon4b-height: 45px;
$icon4b-total-width: 749px;
$icon4b-total-height: 713px;
$icon4b-image: '../images/sprite.png';
$icon4b: (283px, 333px, -283px, -333px, 53px, 45px, 749px, 713px, '../images/sprite.png', 'icon4b', );
$icon-back-name: 'icon_back';
$icon-back-x: 670px;
$icon-back-y: 298px;
$icon-back-offset-x: -670px;
$icon-back-offset-y: -298px;
$icon-back-width: 60px;
$icon-back-height: 60px;
$icon-back-total-width: 749px;
$icon-back-total-height: 713px;
$icon-back-image: '../images/sprite.png';
$icon-back: (670px, 298px, -670px, -298px, 60px, 60px, 749px, 713px, '../images/sprite.png', 'icon_back', );
$icon-bad-name: 'icon_bad';
$icon-bad-x: 0px;
$icon-bad-y: 204px;
$icon-bad-offset-x: 0px;
$icon-bad-offset-y: -204px;
$icon-bad-width: 158px;
$icon-bad-height: 119px;
$icon-bad-total-width: 749px;
$icon-bad-total-height: 713px;
$icon-bad-image: '../images/sprite.png';
$icon-bad: (0px, 204px, 0px, -204px, 158px, 119px, 749px, 713px, '../images/sprite.png', 'icon_bad', );
$icon-calendar-name: 'icon_calendar';
$icon-calendar-x: 175px;
$icon-calendar-y: 668px;
$icon-calendar-offset-x: -175px;
$icon-calendar-offset-y: -668px;
$icon-calendar-width: 45px;
$icon-calendar-height: 45px;
$icon-calendar-total-width: 749px;
$icon-calendar-total-height: 713px;
$icon-calendar-image: '../images/sprite.png';
$icon-calendar: (175px, 668px, -175px, -668px, 45px, 45px, 749px, 713px, '../images/sprite.png', 'icon_calendar', );
$icon-chaosu-name: 'icon_chaosu';
$icon-chaosu-x: 178px;
$icon-chaosu-y: 589px;
$icon-chaosu-offset-x: -178px;
$icon-chaosu-offset-y: -589px;
$icon-chaosu-width: 79px;
$icon-chaosu-height: 69px;
$icon-chaosu-total-width: 749px;
$icon-chaosu-total-height: 713px;
$icon-chaosu-image: '../images/sprite.png';
$icon-chaosu: (178px, 589px, -178px, -589px, 79px, 69px, 749px, 713px, '../images/sprite.png', 'icon_chaosu', );
$icon-check-name: 'icon_check';
$icon-check-x: 670px;
$icon-check-y: 603px;
$icon-check-offset-x: -670px;
$icon-check-offset-y: -603px;
$icon-check-width: 51px;
$icon-check-height: 51px;
$icon-check-total-width: 749px;
$icon-check-total-height: 713px;
$icon-check-image: '../images/sprite.png';
$icon-check: (670px, 603px, -670px, -603px, 51px, 51px, 749px, 713px, '../images/sprite.png', 'icon_check', );
$icon-chesu-name: 'icon_chesu';
$icon-chesu-x: 356px;
$icon-chesu-y: 589px;
$icon-chesu-offset-x: -356px;
$icon-chesu-offset-y: -589px;
$icon-chesu-width: 79px;
$icon-chesu-height: 69px;
$icon-chesu-total-width: 749px;
$icon-chesu-total-height: 713px;
$icon-chesu-image: '../images/sprite.png';
$icon-chesu: (356px, 589px, -356px, -589px, 79px, 69px, 749px, 713px, '../images/sprite.png', 'icon_chesu', );
$icon-clock-name: 'icon_clock';
$icon-clock-x: 630px;
$icon-clock-y: 450px;
$icon-clock-offset-x: -630px;
$icon-clock-offset-y: -450px;
$icon-clock-width: 26px;
$icon-clock-height: 26px;
$icon-clock-total-width: 749px;
$icon-clock-total-height: 713px;
$icon-clock-image: '../images/sprite.png';
$icon-clock: (630px, 450px, -630px, -450px, 26px, 26px, 749px, 713px, '../images/sprite.png', 'icon_clock', );
$icon-close-name: 'icon_close';
$icon-close-x: 110px;
$icon-close-y: 333px;
$icon-close-offset-x: -110px;
$icon-close-offset-y: -333px;
$icon-close-width: 100px;
$icon-close-height: 66px;
$icon-close-total-width: 749px;
$icon-close-total-height: 713px;
$icon-close-image: '../images/sprite.png';
$icon-close: (110px, 333px, -110px, -333px, 100px, 66px, 749px, 713px, '../images/sprite.png', 'icon_close', );
$icon-cpai-name: 'icon_cpai';
$icon-cpai-x: 670px;
$icon-cpai-y: 0px;
$icon-cpai-offset-x: -670px;
$icon-cpai-offset-y: 0px;
$icon-cpai-width: 79px;
$icon-cpai-height: 69px;
$icon-cpai-total-width: 749px;
$icon-cpai-total-height: 713px;
$icon-cpai-image: '../images/sprite.png';
$icon-cpai: (670px, 0px, -670px, 0px, 79px, 69px, 749px, 713px, '../images/sprite.png', 'icon_cpai', );
$icon-driving-name: 'icon_driving';
$icon-driving-x: 372px;
$icon-driving-y: 0px;
$icon-driving-offset-x: -372px;
$icon-driving-offset-y: 0px;
$icon-driving-width: 108px;
$icon-driving-height: 100px;
$icon-driving-total-width: 749px;
$icon-driving-total-height: 713px;
$icon-driving-image: '../images/sprite.png';
$icon-driving: (372px, 0px, -372px, 0px, 108px, 100px, 749px, 713px, '../images/sprite.png', 'icon_driving', );
$icon-edit-name: 'icon_edit';
$icon-edit-x: 383px;
$icon-edit-y: 668px;
$icon-edit-offset-x: -383px;
$icon-edit-offset-y: -668px;
$icon-edit-width: 40px;
$icon-edit-height: 40px;
$icon-edit-total-width: 749px;
$icon-edit-total-height: 713px;
$icon-edit-image: '../images/sprite.png';
$icon-edit: (383px, 668px, -383px, -668px, 40px, 40px, 749px, 713px, '../images/sprite.png', 'icon_edit', );
$icon-end-name: 'icon_end';
$icon-end-x: 535px;
$icon-end-y: 499px;
$icon-end-offset-x: -535px;
$icon-end-offset-y: -499px;
$icon-end-width: 79px;
$icon-end-height: 69px;
$icon-end-total-width: 749px;
$icon-end-total-height: 713px;
$icon-end-image: '../images/sprite.png';
$icon-end: (535px, 499px, -535px, -499px, 79px, 69px, 749px, 713px, '../images/sprite.png', 'icon_end', );
$icon-fchesu-name: 'icon_fchesu';
$icon-fchesu-x: 446px;
$icon-fchesu-y: 499px;
$icon-fchesu-offset-x: -446px;
$icon-fchesu-offset-y: -499px;
$icon-fchesu-width: 79px;
$icon-fchesu-height: 69px;
$icon-fchesu-total-width: 749px;
$icon-fchesu-total-height: 713px;
$icon-fchesu-image: '../images/sprite.png';
$icon-fchesu: (446px, 499px, -446px, -499px, 79px, 69px, 749px, 713px, '../images/sprite.png', 'icon_fchesu', );
$icon-find-name: 'icon_find';
$icon-find-x: 372px;
$icon-find-y: 220px;
$icon-find-offset-x: -372px;
$icon-find-offset-y: -220px;
$icon-find-width: 108px;
$icon-find-height: 100px;
$icon-find-total-width: 749px;
$icon-find-total-height: 713px;
$icon-find-image: '../images/sprite.png';
$icon-find: (372px, 220px, -372px, -220px, 108px, 100px, 749px, 713px, '../images/sprite.png', 'icon_find', );
$icon-health-name: 'icon_health';
$icon-health-x: 204px;
$icon-health-y: 0px;
$icon-health-offset-x: -204px;
$icon-health-offset-y: 0px;
$icon-health-width: 158px;
$icon-health-height: 119px;
$icon-health-total-width: 749px;
$icon-health-total-height: 713px;
$icon-health-image: '../images/sprite.png';
$icon-health: (204px, 0px, -204px, 0px, 158px, 119px, 749px, 713px, '../images/sprite.png', 'icon_health', );
$icon-jingyan-name: 'icon_jingyan';
$icon-jingyan-x: 670px;
$icon-jingyan-y: 79px;
$icon-jingyan-offset-x: -670px;
$icon-jingyan-offset-y: -79px;
$icon-jingyan-width: 79px;
$icon-jingyan-height: 69px;
$icon-jingyan-total-width: 749px;
$icon-jingyan-total-height: 713px;
$icon-jingyan-image: '../images/sprite.png';
$icon-jingyan: (670px, 79px, -670px, -79px, 79px, 69px, 749px, 713px, '../images/sprite.png', 'icon_jingyan', );
$icon-licheng-name: 'icon_licheng';
$icon-licheng-x: 534px;
$icon-licheng-y: 589px;
$icon-licheng-offset-x: -534px;
$icon-licheng-offset-y: -589px;
$icon-licheng-width: 79px;
$icon-licheng-height: 69px;
$icon-licheng-total-width: 749px;
$icon-licheng-total-height: 713px;
$icon-licheng-image: '../images/sprite.png';
$icon-licheng: (534px, 589px, -534px, -589px, 79px, 69px, 749px, 713px, '../images/sprite.png', 'icon_licheng', );
$icon-list-name: 'icon_list';
$icon-list-x: 670px;
$icon-list-y: 368px;
$icon-list-offset-x: -670px;
$icon-list-offset-y: -368px;
$icon-list-width: 60px;
$icon-list-height: 60px;
$icon-list-total-width: 749px;
$icon-list-total-height: 713px;
$icon-list-image: '../images/sprite.png';
$icon-list: (670px, 368px, -670px, -368px, 60px, 60px, 749px, 713px, '../images/sprite.png', 'icon_list', );
$icon-mark-name: 'icon_mark';
$icon-mark-x: 670px;
$icon-mark-y: 158px;
$icon-mark-offset-x: -670px;
$icon-mark-offset-y: -158px;
$icon-mark-width: 62px;
$icon-mark-height: 60px;
$icon-mark-total-width: 749px;
$icon-mark-total-height: 713px;
$icon-mark-image: '../images/sprite.png';
$icon-mark: (670px, 158px, -670px, -158px, 62px, 60px, 749px, 713px, '../images/sprite.png', 'icon_mark', );
$icon-open-name: 'icon_open';
$icon-open-x: 0px;
$icon-open-y: 333px;
$icon-open-offset-x: 0px;
$icon-open-offset-y: -333px;
$icon-open-width: 100px;
$icon-open-height: 66px;
$icon-open-total-width: 749px;
$icon-open-total-height: 713px;
$icon-open-image: '../images/sprite.png';
$icon-open: (0px, 333px, 0px, -333px, 100px, 66px, 749px, 713px, '../images/sprite.png', 'icon_open', );
$icon-park-name: 'icon_park';
$icon-park-x: 372px;
$icon-park-y: 110px;
$icon-park-offset-x: -372px;
$icon-park-offset-y: -110px;
$icon-park-width: 108px;
$icon-park-height: 100px;
$icon-park-total-width: 749px;
$icon-park-total-height: 713px;
$icon-park-image: '../images/sprite.png';
$icon-park: (372px, 110px, -372px, -110px, 108px, 100px, 749px, 713px, '../images/sprite.png', 'icon_park', );
$icon-path-name: 'icon_path';
$icon-path-x: 333px;
$icon-path-y: 668px;
$icon-path-offset-x: -333px;
$icon-path-offset-y: -668px;
$icon-path-width: 40px;
$icon-path-height: 40px;
$icon-path-total-width: 749px;
$icon-path-total-height: 713px;
$icon-path-image: '../images/sprite.png';
$icon-path: (333px, 668px, -333px, -668px, 40px, 40px, 749px, 713px, '../images/sprite.png', 'icon_path', );
$icon-pilao-name: 'icon_pilao';
$icon-pilao-x: 179px;
$icon-pilao-y: 499px;
$icon-pilao-offset-x: -179px;
$icon-pilao-offset-y: -499px;
$icon-pilao-width: 79px;
$icon-pilao-height: 69px;
$icon-pilao-total-width: 749px;
$icon-pilao-total-height: 713px;
$icon-pilao-image: '../images/sprite.png';
$icon-pilao: (179px, 499px, -179px, -499px, 79px, 69px, 749px, 713px, '../images/sprite.png', 'icon_pilao', );
$icon-place-name: 'icon_place';
$icon-place-x: 490px;
$icon-place-y: 360px;
$icon-place-offset-x: -490px;
$icon-place-offset-y: -360px;
$icon-place-width: 30px;
$icon-place-height: 30px;
$icon-place-total-width: 749px;
$icon-place-total-height: 713px;
$icon-place-image: '../images/sprite.png';
$icon-place: (490px, 360px, -490px, -360px, 30px, 30px, 749px, 713px, '../images/sprite.png', 'icon_place', );
$icon-reche-name: 'icon_reche';
$icon-reche-x: 0px;
$icon-reche-y: 589px;
$icon-reche-offset-x: 0px;
$icon-reche-offset-y: -589px;
$icon-reche-width: 79px;
$icon-reche-height: 69px;
$icon-reche-total-width: 749px;
$icon-reche-total-height: 713px;
$icon-reche-image: '../images/sprite.png';
$icon-reche: (0px, 589px, 0px, -589px, 79px, 69px, 749px, 713px, '../images/sprite.png', 'icon_reche', );
$icon-refresh-name: 'icon_refresh';
$icon-refresh-x: 670px;
$icon-refresh-y: 228px;
$icon-refresh-offset-x: -670px;
$icon-refresh-offset-y: -228px;
$icon-refresh-width: 60px;
$icon-refresh-height: 60px;
$icon-refresh-total-width: 749px;
$icon-refresh-total-height: 713px;
$icon-refresh-image: '../images/sprite.png';
$icon-refresh: (670px, 228px, -670px, -228px, 60px, 60px, 749px, 713px, '../images/sprite.png', 'icon_refresh', );
$icon-search-name: 'icon_search';
$icon-search-x: 120px;
$icon-search-y: 668px;
$icon-search-offset-x: -120px;
$icon-search-offset-y: -668px;
$icon-search-width: 45px;
$icon-search-height: 45px;
$icon-search-total-width: 749px;
$icon-search-total-height: 713px;
$icon-search-image: '../images/sprite.png';
$icon-search: (120px, 668px, -120px, -668px, 45px, 45px, 749px, 713px, '../images/sprite.png', 'icon_search', );
$icon-shache-name: 'icon_shache';
$icon-shache-x: 267px;
$icon-shache-y: 589px;
$icon-shache-offset-x: -267px;
$icon-shache-offset-y: -589px;
$icon-shache-width: 79px;
$icon-shache-height: 69px;
$icon-shache-total-width: 749px;
$icon-shache-total-height: 713px;
$icon-shache-image: '../images/sprite.png';
$icon-shache: (267px, 589px, -267px, -589px, 79px, 69px, 749px, 713px, '../images/sprite.png', 'icon_shache', );
$icon-smile-name: 'icon_smile';
$icon-smile-x: 0px;
$icon-smile-y: 0px;
$icon-smile-offset-x: 0px;
$icon-smile-offset-y: 0px;
$icon-smile-width: 194px;
$icon-smile-height: 194px;
$icon-smile-total-width: 749px;
$icon-smile-total-height: 713px;
$icon-smile-image: '../images/sprite.png';
$icon-smile: (0px, 0px, 0px, 0px, 194px, 194px, 749px, 713px, '../images/sprite.png', 'icon_smile', );
$icon-start-name: 'icon_start';
$icon-start-x: 268px;
$icon-start-y: 499px;
$icon-start-offset-x: -268px;
$icon-start-offset-y: -499px;
$icon-start-width: 79px;
$icon-start-height: 69px;
$icon-start-total-width: 749px;
$icon-start-total-height: 713px;
$icon-start-image: '../images/sprite.png';
$icon-start: (268px, 499px, -268px, -499px, 79px, 69px, 749px, 713px, '../images/sprite.png', 'icon_start', );
$icon-time-name: 'icon_time';
$icon-time-x: 530px;
$icon-time-y: 360px;
$icon-time-offset-x: -530px;
$icon-time-offset-y: -360px;
$icon-time-width: 30px;
$icon-time-height: 30px;
$icon-time-total-width: 749px;
$icon-time-total-height: 713px;
$icon-time-image: '../images/sprite.png';
$icon-time: (530px, 360px, -530px, -360px, 30px, 30px, 749px, 713px, '../images/sprite.png', 'icon_time', );
$icon-win-name: 'icon_win';
$icon-win-x: 168px;
$icon-win-y: 204px;
$icon-win-offset-x: -168px;
$icon-win-offset-y: -204px;
$icon-win-width: 126px;
$icon-win-height: 86px;
$icon-win-total-width: 749px;
$icon-win-total-height: 713px;
$icon-win-image: '../images/sprite.png';
$icon-win: (168px, 204px, -168px, -204px, 126px, 86px, 749px, 713px, '../images/sprite.png', 'icon_win', );
$icon-youfei-name: 'icon_youfei';
$icon-youfei-x: 445px;
$icon-youfei-y: 589px;
$icon-youfei-offset-x: -445px;
$icon-youfei-offset-y: -589px;
$icon-youfei-width: 79px;
$icon-youfei-height: 69px;
$icon-youfei-total-width: 749px;
$icon-youfei-total-height: 713px;
$icon-youfei-image: '../images/sprite.png';
$icon-youfei: (445px, 589px, -445px, -589px, 79px, 69px, 749px, 713px, '../images/sprite.png', 'icon_youfei', );
$icon-youhao-name: 'icon_youhao';
$icon-youhao-x: 89px;
$icon-youhao-y: 589px;
$icon-youhao-offset-x: -89px;
$icon-youhao-offset-y: -589px;
$icon-youhao-width: 79px;
$icon-youhao-height: 69px;
$icon-youhao-total-width: 749px;
$icon-youhao-total-height: 713px;
$icon-youhao-image: '../images/sprite.png';
$icon-youhao: (89px, 589px, -89px, -589px, 79px, 69px, 749px, 713px, '../images/sprite.png', 'icon_youhao', );
$icon-youmen-name: 'icon_youmen';
$icon-youmen-x: 357px;
$icon-youmen-y: 499px;
$icon-youmen-offset-x: -357px;
$icon-youmen-offset-y: -499px;
$icon-youmen-width: 79px;
$icon-youmen-height: 69px;
$icon-youmen-total-width: 749px;
$icon-youmen-total-height: 713px;
$icon-youmen-image: '../images/sprite.png';
$icon-youmen: (357px, 499px, -357px, -499px, 79px, 69px, 749px, 713px, '../images/sprite.png', 'icon_youmen', );
$icon-youpin-name: 'icon_youpin';
$icon-youpin-x: 90px;
$icon-youpin-y: 499px;
$icon-youpin-offset-x: -90px;
$icon-youpin-offset-y: -499px;
$icon-youpin-width: 79px;
$icon-youpin-height: 69px;
$icon-youpin-total-width: 749px;
$icon-youpin-total-height: 713px;
$icon-youpin-image: '../images/sprite.png';
$icon-youpin: (90px, 499px, -90px, -499px, 79px, 69px, 749px, 713px, '../images/sprite.png', 'icon_youpin', );
$spritesheet-width: 749px;
$spritesheet-height: 713px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-arrow, $icon-code1, $icon-code2, $icon-result1, $icon-result10, $icon-result11, $icon-result12, $icon-result13, $icon-result14, $icon-result15, $icon-result16, $icon-result2, $icon-result3, $icon-result4, $icon-result5, $icon-result6, $icon-result7, $icon-result8, $icon-result9, $icon1, $icon1a, $icon1b, $icon2, $icon2a, $icon2b, $icon3, $icon3a, $icon3b, $icon4, $icon4a, $icon4b, $icon-back, $icon-bad, $icon-calendar, $icon-chaosu, $icon-check, $icon-chesu, $icon-clock, $icon-close, $icon-cpai, $icon-driving, $icon-edit, $icon-end, $icon-fchesu, $icon-find, $icon-health, $icon-jingyan, $icon-licheng, $icon-list, $icon-mark, $icon-open, $icon-park, $icon-path, $icon-pilao, $icon-place, $icon-reche, $icon-refresh, $icon-search, $icon-shache, $icon-smile, $icon-start, $icon-time, $icon-win, $icon-youfei, $icon-youhao, $icon-youmen, $icon-youpin, );
$spritesheet: (749px, 713px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
