$bgColor: #f5f5f5;
$headerHeight: 1.39rem;
$footerHeight: 1.39rem;
$buttonHeight: 1.11rem;
$buttonSize: 0.44rem;
$borderColor: #ccc;
$blueColor: #50c0e9;
$greenColor: #a8d324;
$blueActiveColor: #3394b8;
$yellowColor: #fed24d;
$grayColor: #949494;
$blackColor: #a0a0a0;
$color: #333;
$goodColor: #50c0e9;
$bestColor: #a8d324;
$terribleColor: #ff5f5f;
$soColor: #858585;
$badColor: #ffc641;
