.voice {
  .list {
    .item {
      margin-bottom: 0.42rem;
      .isOpen{
        background-color: #fff;
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;
        height: 1.39rem;
        padding: 0.25rem;
        &:after {
          @include clearfix();
        }
        .type, .opening {
          font-size: 0.44rem;
          color: #666;
          line-height: 0.9rem;
        }
        .type {
          float: left;
        }
        .switch, .opening {
          float: right;
        }
        .opening {
          margin-right: 0.28rem;
          display: none;
        }
      }
      .note {
        padding: 0 0.25rem;
        color: $color;
        line-height: 1.6;
        font-size: 0.36rem;
      }
    }
  }
}
