/**********************************************************/

.people_car_good{
	background: url(../images/condition_good.png) center 3.556rem no-repeat #fff;
}
.people_car_bad{
	background: url(../images/condition_bad.png) center 3.556rem no-repeat #fff;
}
.people_car_terrible{
	background: url(../images/condition_bad.png) center 3.556rem no-repeat #fff;
}
.people{
	height: 13.5rem;
	background-size: 12.67rem;
}
.people h3{
	color: #939393;
	font-weight: bold;
	font-size: 1.15rem;
	text-align: center;
	line-height: 3.89rem;
	font-family: "MicroSoft YaHei";
}
.car_condition{
	background-color: #50c0e9;
	text-align: center;
	color: #fff;
	padding: 1rem 0;
}
.car_condition_good{
	background-color: #50c0e9;
}
.car_condition_bad{
	background-color: #ffc641;
}
.car_condition_terrible{
	background-color: #ffc641;
}
.car_condition strong{
	font-size: 2.59rem;
	line-height: 4.3rem;
	display: inline-block;
	padding-left: 3.69rem;
	background:url(../images/detect_safety_good.png) 0 center no-repeat;
	background-size: 3.07rem 3.07rem;
}
.car_condition_good strong{
	background:url(../images/detect_safety_good.png) 0 center no-repeat;
	background-size: 3.07rem 3.07rem;
}
.car_condition_bad strong{
	background:url(../images/detect_safety_bad.png) 0 center no-repeat;
	background-size: 3.07rem 3.07rem;
}
.car_condition_terrible strong{
	background:url(../images/detect_safety_terrible.png) 0 center no-repeat;
	background-size: 3.07rem 3.07rem;
}
.car_condition p{
	font-size: 1.8rem;
	line-height: 3.6rem;
}
.car_condition p span{
	color: #e36861;
}
.fault_total{
	overflow: hidden;
	padding: 0 0.5rem;
	height: 4.1rem;
	line-height: 4.1rem;
	/*border-width:0 0 1px 0;
    -webkit-border-image: url(../images/border.png) 2 0 stretch;
    border-image: url(../images/border.png) 2 0 stretch;*/
    border-bottom: 1px solid #ccc;
}
.fault_total span{
	float: left;
	font-size: 1.3rem;
	color: #5e5e5e;
	font-weight: bold;
}
.fault_total var{
	float: right;
}
.fault_total var em{
	color: #e36861;
	font-size: 1.41rem;
	text-decoration: underline;
	font-style: normal;
}
.fault_total var strong{
	color: #818181;
	font-size: 1rem;
	font-style: normal;
}
.fault_detail{
	overflow: hidden;
}
.fault_part{
	float: left;
	width: 50%;
	padding:1rem 0.3rem 1.426rem;
	box-sizing:border-box;
	border-right:1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	position: relative;
}
.fault_part div{
	overflow: hidden;
}
.fault_part1,.fault_part2{
	height: 1.4rem;
	line-height: 1.4rem;
}
.fault_part div span{
	float: left;
}
.fault_part div var{
	float: right;
}
.fault_part1 span{
	color: #666;
	font-size: 1rem;
}
.fault_part1 var{
	color: #50c0e9;
	text-decoration: underline;
	font-size: 1rem;
	font-style: normal;
}
.fault_part_good .fault_part1 var{
	color: #50c0e9;
}
.fault_part_bad1 .fault_part1 var,.fault_part_bad2 .fault_part1 var{
	color: #e36861;
}
.fault_orange_bad1 .fault_part1 var,.fault_orange_bad2 .fault_part1 var{
	color: #ff9e40;
}
.fault_part2 span,.fault_part2 var{
	width: 35%;
	text-align: center;
	color: #666;
	font-size: 0.85rem;
	font-style: normal;
}
.fault_part3 span,.fault_part3 var{
	height: 0.5rem;
	overflow: hidden;
	border-right:1px solid #ccc;
	width: 0;
}
.fault_part3 span{
	float: left;
	margin-left: 17.5%;
}
.fault_part3 var{
	float: right;
	margin-right: 17.5%;
}
.fault_part3{
	border: 1px solid #ccc;
	border-top: none;
	position: relative;
}
.fault_part .detect_arrow{
	position: absolute;
	bottom:0;
	width: 0.8rem;
	height: 0.7rem;
	margin-left: -0.4rem;
}
.fault_part_good .detect_arrow{
	left:50%;
	background: url(../images/detect_arrow_blue.png) 0 0 no-repeat;
	background-size: 0.8rem 0.7rem;
}
.fault_part_bad1 .detect_arrow{
	left:7.3%;
	background: url(../images/detect_arrow_red.png) 0 0 no-repeat;
	background-size: 0.8rem 0.7rem;
}
.fault_part_bad2 .detect_arrow{
	right:7.3%;
	background: url(../images/detect_arrow_red.png) 0 0 no-repeat;
	background-size: 0.8rem 0.7rem;
}
.fault_orange_bad1 .detect_arrow{
	left:7.3%;
	background: url(../images/detect_arrow_orange.png) 0 0 no-repeat;
	background-size: 0.8rem 0.7rem;
}
.fault_orange_bad2 .detect_arrow{
	right:7.3%;
	background: url(../images/detect_arrow_orange.png) 0 0 no-repeat;
	background-size: 0.8rem 0.7rem;
}
.condition_judge{
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 1.1rem;
	height: 1.95rem;
	line-height: 1.95rem;
	background-color:#50c0e9;
	margin-top: 0.889rem;
}
.fault_part_good .condition_judge{
	background-color: #50c0e9;
}
.fault_part_bad1 .condition_judge,.fault_part_bad2 .condition_judge{
	background-color: #e36861;
}
.fault_orange_bad1 .condition_judge,.fault_orange_bad2 .condition_judge{
	background-color: #ff9e40;
}
.detect_time{
	font-size: 1.15rem;
	line-height: 2rem;
	height: 2rem;
	color: #666;
	text-align: center;
}

/**********************************************************/