body,p,div,h1,h2,h3,h4,h5,h6,dd,dl,ul{
	margin: 0;
}
a{
	text-decoration: none;
}
ul,ol,li{
	list-style: none;
}
ul{
	padding:0;
}
table{
	border-collapse: collapse;
}
table td{
	word-break:break-all;
	text-align: center;
	vertical-align: middle;
}
input,button,select,textarea{
	outline:none;
	border: 0;
}
input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance: none;
}
textarea{
	resize:none;
}
body{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    background-color: transparent;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.wrap{
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	background-color: transparent;
}
.bg .wrap{
	background: url(../images/bg4.png) 0 0 no-repeat transparent;
	background-size: 100%;
}

/*************************************************/
.head{
	border-width:0 0 1px 0;
    -webkit-border-image: url(../images/border.png) 2 0 stretch;
    border-image: url(../images/border.png) 2 0 stretch;
	background-color: #fff;
	padding: 0.5rem 1rem;
	height: 3.5rem;
	box-shadow: 0px 3px 3px rgba(204,204,204,0.5);
	z-index: 5;
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	max-width: 720px;
	box-sizing:border-box;
}
.chezhihui_link{
	float: right;
	color: #fff;
	font-size: 1rem;
	border-radius: 5px;
	background-color: #009dd9;
	padding: 0 0.7rem;
	line-height: 1.8rem;
	height: 1.8rem;
	margin-top: 0.3rem;
}
.chezhihui_link:hover{
	background-color: #0090c7;
}
.head .open{
	margin-top: 0.3rem;
}
.head h3{
	float: left;
	background: url(../images/chezhihui.png) 0 center no-repeat;
	background-size: 1.2rem 1.2rem;
	font-size: 1.1rem;
	color: #333;
	padding-left: 1.5rem;
	line-height: 1.8rem;
	height: 1.8rem;
}
.chezhihui{
	float: left;
	background: url(../images/chezhihui.png) 0 center no-repeat;
	background-size: 1.6rem 1.6rem;
	padding-left: 1.9rem;
}
.chezhihui strong{
	font-size: 1rem;
	color: #333;
	line-height: 1.4rem;
	display: inline-block;
	height: 1.4rem;
}
.chezhihui p{
	font-size: 0.8rem;
	color: #666;
	line-height: 1.2rem;
	height: 1.2rem;
}
.con{
	position: relative;
	padding:3.5rem 0;
	box-sizing:border-box;
}
.footer{
	width: 100%;
	box-sizing:border-box;
	padding:0.5rem 1rem;
	border-width:1px 0 0;
    -webkit-border-image: url(../images/border.png) 2 0 stretch;
    border-image: url(../images/border.png) 2 0 stretch;
	position: absolute;
	left: 0;
	bottom:0;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0px -3px 3px rgba(204,204,204,0.5);
}
/*************************************************/
/*************************************************/
.avatar{
	position: relative;
	margin-right: 1.2rem;
	display: inline;
	background-color: #fff;
	padding:0.16rem;
	border-radius: 0.4rem;
	height: 4.68rem;
}
.avatar .user{
	width: 4.68rem;
	height: 4.68rem;
	border-radius: 0.4rem;
	float: left;
}
.avatar .medal{
	position: absolute;
	width: 3.11rem;
	bottom:-0.39rem;
	left:-1.395rem;
}
.people{
	overflow: hidden;
	padding:0.9rem 0 1.3rem 2rem;
	border-width:0 0 1px 0;
    -webkit-border-image: url(../images/border.png) 2 0 stretch;
    border-image: url(../images/border.png) 2 0 stretch;
}
.people .detail{
	margin-top: 0.3rem;
}
.people .detail span{
	color: #ffa02c;
	font-weight: bold;
	font-size: 1.27rem;
}
.people .detail h3{
	font-size: 1.079rem;
	line-height: 1.8rem;
	color: #333;
}
.people .detail p{
	font-size: 0.8889rem;
	color: #666;
}
.day{
	overflow: hidden;
	height: 5.11rem;
	border-width:0 0 1px 0;
    -webkit-border-image: url(../images/border.png) 2 0 stretch;
    border-image: url(../images/border.png) 2 0 stretch;
}
.today,.tomorrow{
	height: 100%;
	width: 50%;
	box-sizing:border-box;
	padding-top: 0.16rem;
}
.today{
	border-width:0 1px 0 0;
    -webkit-border-image: url(../images/border1.png) 0 2 stretch;
    border-image: url(../images/border1.png) 0 2 stretch;
}
.day .time{
	color: #939393;
	font-size: 0.889rem;
	text-align: center;
	line-height: 2rem;
}
.day .default,.day .ing,.day .notime,.day .yes{
	text-align: center;
}
.day .default img{
	width: 3.27rem;
}
.day .ing img{
	width: 2.8rem;
}
.day .notime img{
	width: 3.7rem;
}
.day .yes img{
	width:2.8rem;
}
.day .apply{
	color: #ffa02c;
	text-align: center;
}
.day .apply a{
	color: #ffa02c;
	font-weight: bold;
	font-size: 1.27rem;
}
.day .user{
	/*margin-left: 1.5rem;
	height: 2.1rem;
	position: relative;
	margin-right: 0.476rem;
	display: inline;*/
}
.day .user img{
	float: left;
	width: 2.095rem;
	height: 2.095rem;
	border-radius: 0.25rem;

}
.day .detail h3,.day .detail p{
	font-size: 0.889rem;
	  width: 100%;
	  overflow: hidden;
	  height: 1.2rem;
	  line-height: 1.2rem;
	  white-space: nowrap;
	  text-overflow: ellipsis;
}
.day .detail h3{
	color: #333;
}
.day .detail p{
	color: #666;
}
.day .user .medal{
	width: 1.587rem;
  	height: 1.4286rem;
	position: absolute;
	left: -0.7935rem;
  	bottom: -0.313rem;
}
.con_pk:after{
	clear: both;
	height: 0;
	content: "";
	display: block;
	overflow: hidden;
}
.day .con_pk{
	display: block;
	position: relative;
	padding-left: 4rem;
	padding-right: 0.2rem;
}
.day .con_pk .user{
	height: 2.1rem;
	position: absolute;
	left: 1.5rem;
	border-radius: 0.4rem;
	float: left;
}
.brand{
	border-width:0 0 1px 0;
    -webkit-border-image: url(../images/border.png) 2 0 stretch;
    border-image: url(../images/border.png) 2 0 stretch;
}
.brand h3{
	color: #50c0e9;
	font-size: 1.27rem;
	line-height: 2.7rem;
	height: 2.7rem;
	padding-left: 1.75rem;
}
.brand2 h3{
	color: #ffa02c;
}
.brand .plate{
	overflow: hidden;
	padding:0.5rem;
}
.brand .plate .car{
	float: left;
	text-align: center;
	width: 33.3%;
	overflow: hidden;
}
.brand .plate .car img{
	height: 3.714rem;
	float: left;
}
.brand .pos{
	position: relative;
	display: inline-block;
	height: 3.714rem;
}
.brand .number{
	position: absolute;
  	color: #fff;
  	font-size: 1rem;
  	right: -0.5rem;
  	bottom: -0.2rem;
  	padding: 0 0.3rem;
  	font-weight: bold;
	background: url(../images/blue.png) 0 0 no-repeat;
	background-size:100%;
}
.brand .default{
	text-align: center;
	padding: 0 1.81rem;
}
.brand .default img{
	width: 100%;
}
.brand1 .number{
	background: url(../images/yellow.png) 0 0 no-repeat;
	background-size:100%;
}
.brand2 ul li{
	float: left;
	width: 100%;
	padding:0.8rem 0;
}
.brand2 .list{
	padding:0 1.587rem;
}
.brand2 ul{
	overflow: hidden;
}
.brand2 ul li .ending{
	float: left;
	width: 30%;
	overflow: hidden;
}
.brand2 ul li .ending img{
	display: block;
	width: 100%;
}

.brand2 ul li .time{
	float: left;
	display: inline;
	color: #666666;
	font-weight: bold;
	font-size: 1.27rem;
	line-height: 2.095rem;
	height: 2.095rem;
	width: 20%;
	margin-right: 2%;
	overflow: hidden;
}
.brand2 ul li .info{
	float:right;
	position: relative;
	padding-left: 2.5rem;
	box-sizing:border-box;
	width: 41%;
}
.brand2 .figure{
	width: 2.095rem;
	position: relative;
	height: 2.095rem;
	position: absolute;
	left:0;
	top:0;
}
.brand2 .figure img:nth-of-type(1){
	width: 2.095rem;
	height: 2.095rem;
	float: left;
	border-radius: 0.25rem;
}
.brand2 .figure img:nth-of-type(2){
	width: 1.587rem;
	height: 1.4286rem;
	position: absolute;
	left:-0.7935rem;
	bottom:-0.313rem;
}
.brand2 .details h4,.brand2 .details p{
	color: #333;
	font-size: 0.8889rem;
	line-height: 1.2rem;
	overflow: hidden;
	white-space: nowrap;
  	text-overflow: ellipsis;
}

.brand2 .details{
	width: 6.667rem;
}
.seperate{
	position: relative;
	text-align: center;
	line-height: 1.6rem;
}

.seperate strong{
	background-color: #fff;
	color: #999;
	font-size: 1rem;
	font-weight: bold;
	padding:0 0.5rem;
	position: relative;
	z-index: 2;
}
.seperate p{
	position: absolute;
	width: 100%;
	height: 0;
	overflow: hidden;
	border-bottom: 2px dashed #999;
	left: 0;
	top:0.8rem;
	z-index: 1;
}

/*************************************************/
/************************************************************/

.dTc_bg{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #000;
	opacity: 0.5;
	left: 0;
	top:0;
	display: none;
	z-index: 11;
}
.dTc_android,.dTc_iphone{
	display: none;
	z-index: 12;
	background: url(../images/step_bg.png) 80% 3em no-repeat;
	background-size: 18%;
	height: 100%;
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	padding:7.5em 2em;
	box-sizing:border-box;

}
.dTc_android ul li,.dTc_iphone ul li{
	color: #fff;
}
.dTc_android .step_2,.dTc_iphone .step_2{
	padding-top: 2.3em;
	background: url(../images/step_2_a.png) 1em 1em no-repeat;
	background-size: 33%;
	height: 10em;
	padding-left:44%;
}
.dTc_iphone .step_2{
	background: url(../images/step_2_i.png) 1em 1em no-repeat;
	background-size: 33%;
}
.dTc_android .step_2 a,.dTc_iphone .step_2 a{
	text-decoration: underline;
	color: #fff;
}
/**********************************team*****************************/


/*************************************************/
/*.avatar{
	position: absolute;
	background-color: #fff;
	padding:0.16rem;
	border-radius: 0.4rem;
	height: 4.68rem;
	left:2rem;
	top:0.9rem;
}
.avatar img:nth-of-type(1){
	width: 4.68rem;
	height: 4.68rem;
	border-radius: 0.4rem;
	float: left;
}
.avatar img:nth-of-type(2){
	position: absolute;
	width: 3.11rem;
	height: 2.694rem;
	bottom:-0.39rem;
	left:-1.395rem;
	display: none;
}
.people{
	overflow: hidden;
	position: relative;
	padding:1rem 0.5rem 1.3rem 8rem;
	border-width:0 0 1px 0;
    -webkit-border-image: url(../images/border.png) 2 0 stretch;
    border-image: url(../images/border.png) 2 0 stretch;
}
.people .detail span{
	color: #ffa02c;
	font-weight: bold;
	font-size: 1.27rem;
}
.people .detail h3{
	font-size: 1.079rem;
	line-height: 1.8rem;
	height: 1.8rem;
	color: #333;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.people .detail p{
	font-size: 0.8889rem;
	color: #666;
	line-height: 1.3rem;
	height: 1.3rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 1.3rem;
	width: 100%;
}
.day{
	overflow: hidden;
	height: 5rem;
	border-width:0 0 1px 0;
    -webkit-border-image: url(../images/border.png) 2 0 stretch;
    border-image: url(../images/border.png) 2 0 stretch;
}
.day .con a{
	display: block;
	position: relative;
	padding-left: 4rem;
	padding-right: 0.2rem;
}
.day .con a:after{
	display: block;
	content: "";
	width: 100%;
	clear: both;
	overflow: hidden;
	height: 0;
}
.today,.tomorrow{
	height: 100%;
	width: 50%;
	box-sizing:border-box;
	float: left;
}
.today{
	border-width:0 1px 0 0;
    -webkit-border-image: url(../images/border1.png) 0 2 stretch;
    border-image: url(../images/border1.png) 0 2 stretch;
}
.day .time{
	color: #939393;
	font-size: 0.9rem;
	text-align: center;
	line-height: 2rem;
}
.day .status{
	display: none;
}
.day .default,.day .ing,.day .notime,.day .yes{
	text-align: center;
}
.day .default img{
	width: 3.27rem;
}
.day .ing img{
	width: 2.8rem;
}
.day .notime img{
	width: 3.7rem;
}
.day .yes img{
	width:2.8rem;
}
.day .apply{
	color: #ffa02c;
	text-align: center;
	margin-top: 0.4rem;
}
.day .apply a{
	color: #ffa02c;
	font-weight: bold;
	font-size: 1.37rem;
}
.day .user{
	height: 2.1rem;
	position: absolute;
	left:1.5rem;
	border-radius: 0.4rem;
	float: left;
}
.day .user img{
	float: left;
	width: 2.095rem;
	height: 2.095rem;
	border-radius: 0.25rem;
}
.day .detail{
	width: 100%;
	overflow: hidden;
}
.day .detail h3,.day .detail p{
	font-size: 0.889rem;
	width: 100%;
	overflow: hidden;
	height: 1.2rem;
	line-height: 1.2rem;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.day .detail h3{
	color: #333;
}
.day .detail p{
	color: #666;
}
.day .user img:nth-of-type(2){
	width: 1.587rem;
  	height: 1.4286rem;
	position: absolute;
	left: -0.7935rem;
  	bottom: -0.313rem;
  	border-radius: 0;
}
.brand{
	border-width:0 0 1px 0;
    -webkit-border-image: url(../images/border.png) 2 0 stretch;
    border-image: url(../images/border.png) 2 0 stretch;
}
.brand h3{
	color: #50c0e9;
	font-size: 1.27rem;
	line-height: 2.7rem;
	height: 2.7rem;
	padding-left: 1.75rem;
}
.brand2 h3{
	color: #ffa02c;
}
.brand .plate{
	overflow: hidden;
	padding:0.5rem 0.5rem 0;
	display: none;
}
.brand .plate .car{
	float: left;
	text-align: center;
	width: 33.3%;
	overflow: hidden;
	padding-bottom: 0.5rem;
}
.brand .plate .car img{
	height: 3.714rem;
	float: left;
}
.brand .pos{
	position: relative;
	display: inline-block;
	height: 3.714rem;
}
.brand .number{
	position: absolute;
	color: #fff;
	font-size: 1rem;
	right: -0.5rem;
	bottom:-0.2rem;
	padding: 0 0.3rem;
	font-weight: bold;
}
.brand .default{
	text-align: center;
	padding: 0 1.81rem;
}
.brand .default img{
	width: 100%;
}
.brand0 .number{
	background: url(../images/blue.png) 0 0 no-repeat;
	background-size:100% 100%;
}
.brand1 .number{
	background: url(../images/yellow.png) 0 0 no-repeat;
	background-size:100% 100%;
}
.brand2 ul li{
	float: left;
	width: 100%;
	padding:0.8rem 0;
}
.brand2 .list{
	padding:0 1.587rem;
	display: none;
}
.brand2 ul{
	overflow: hidden;
}
.brand2 ul li a{
	display: block;
}
.brand2 ul li a:after{
	display: block;
	content: "";
	clear: both;
	height: 0;
	overflow: hidden;
	width: 100%;
}
.brand2 ul li .ending{
	float: left;
	width: 30%;
	overflow: hidden;
}
.brand2 ul li .ending img{
	display: block;
	width: 100%;
}

.brand2 ul li .time{
	float: left;
	display: inline;
	color: #666666;
	font-weight: bold;
	font-size: 1.27rem;
	line-height: 2.095rem;
	height: 2.095rem;
	width: 20%;
	margin-right: 2%;
	overflow: hidden;
}
.brand2 ul li .info{
	float:right;
	position: relative;
	padding-left: 2.5rem;
	box-sizing:border-box;
	width: 41%;
}
.brand2 .figure{
	width: 2.095rem;
	position: relative;
	height: 2.095rem;
	position: absolute;
	left:0;
	top:0;
}
.brand2 .figure img:nth-of-type(1){
	width: 2.095rem;
	height: 2.095rem;
	float: left;
	border-radius: 0.25rem;
}
.brand2 .figure img:nth-of-type(2){
	width: 1.587rem;
	height: 1.4286rem;
	position: absolute;
	left:-0.7935rem;
	bottom:-0.313rem;
}
.brand2 .details h4,.brand2 .details p{
	font-size: 0.8889rem;
	line-height: 1.2rem;
	height: 1.2rem;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
  	text-overflow: ellipsis;
}
.brand2 .details h4{
	color: #333;
}
.brand2 .details p{
	color: #666;
}
.seperate{
	position: relative;
	text-align: center;
	line-height: 1.6rem;
}

.seperate strong{
	background-color: #fff;
	color: #999;
	font-size: 1rem;
	font-weight: bold;
	padding:0 0.5rem;
	position: relative;
	z-index: 2;
}
.seperate p{
	position: absolute;
	width: 100%;
	height: 0;
	overflow: hidden;
	border-bottom: 2px dashed #999;
	left: 0;
	top:0.8rem;
	z-index: 1;
}
.setting{
	border-width:0 0 1px 0;
    -webkit-border-image: url(../images/border.png) 2 0 stretch;
    border-image: url(../images/border.png) 2 0 stretch;
	overflow: hidden;
	height: 2.83rem;
}
.setting a{
	float: left;
	width: 50%;
	box-sizing:border-box;
	height: 2.83rem;
	line-height: 2.83rem;
	text-align: center;
	color: #939393;
	font-size: 0.8889rem;
}
.setting a:nth-of-type(1){
	border-right:1px solid #ccc;
	border-width:0 1px 0 0;
    -webkit-border-image: url(../images/border1.png) 0 2 stretch;
    border-image: url(../images/border1.png) 0 2 stretch;
}*/

/*************************************************/
