/************************************************************/
.people{
	height: 11rem;
	background: url(../images/details_terrible.png) center 3.556rem no-repeat #fff;
  	background-size: 75%;
}
.people h3{
	color: #939393;
	font-weight: bold;
	font-size: 1.15rem;
	text-align: center;
	line-height: 3.89rem;
	font-family: "MicroSoft YaHei";
}
.car_score{
	position: relative;
	border-bottom: 1px solid #ccc;
	padding-bottom: 2rem;
	border-top:1px solid #ccc;
	background-color: #f5f5f5;
}
.car_score h3{
	text-align: center;
	color: #939393;
	font-size: 1.2rem;
	height: 2.25rem;
	line-height: 2.25rem;
	margin: 1rem 0;
}
.car_details a var{
	position: absolute;
	font-size: 0.9333rem;
	color: #939393;
	font-style: normal;
}
.car_details a span{
	color: #666;
	text-decoration: underline;
	font-size: 1.133rem;
}
.car_details{
	position: absolute;
	width: 86%;
	padding: 0 7%;
}
.car_details a{
	position: relative;
	float: left;
	height: 8rem;
	width: 50%;
}
.car_details a strong{
	position: absolute;
	color: #000;
	font-size: 1.2rem;
	font-weight: bold;
	/*text-shadow: 0px 0px 5px #fff;*/
	text-shadow:0px 1px 1px #fff,0px -1px 1px #fff,1px 0px 1px #fff,-1px 0px 1px #fff;
}
.car_details a.car_details1 strong{
	top:2.5rem;
	left: 44%;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.car_details a.car_details2 strong{
	top:2.5rem;
	left: 31%;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
}
.car_details a.car_details3 strong{
	top:3rem;
	left: 44%;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
}
.car_details a.car_details4 strong{
	top:3rem;
	left: 31%;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.canvas{
	width: 65%;
	margin: 0 auto;
	overflow:hidden;
	
}
.canvas canvas{
	width: 100%;
	background: url(../images/bg2.png) center center no-repeat;
	background-size: 100%;
	
}
.car_result{
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0;
	top:6.2rem;
}
.car_result span{
	color: #939393;
	font-size: 1rem;
}
.car_result var{
	color: #939393;
	font-size: 1.4rem;
	font-weight: bold;
	font-style: normal;
}
.person_medal{
	border-bottom: 1px solid #ccc;
}
.medal_kind,.medal_kind{
	text-align: center;
}
.record_kind img{
	width: 11.37rem;
}
.record_kind p{
	color: #333;
	text-align: center;
	font-size: 1rem;
	line-height: 1.6rem;
}
.medal_kind img{
	width: 11.37rem;
}
.medal_kind p{
	color: #333;
	text-align: center;
	font-size: 1rem;
	line-height: 1.6rem;
}
.get_medal{
	text-align: center;
	line-height: 2rem;
	height: 2rem;
	color: #939393;
	font-size: 1.149rem;
	font-family: "MicroSoft YaHei";
}
.record_detail{
	overflow: hidden;
	padding-bottom: 0.5rem;
}
.record_detail div{
	float: left;
	text-align: center;
	overflow: hidden;
	width: 33.33%;
}
.record_detail div img{
	width: 4.06rem;
}
.record_detail div p{
	font-size: 1.11rem;
	color: #333;
	line-height: 1.5rem;
}
.record_detail div span{
	font-size: 0.889rem;
	color: #939393;
	padding:0 0.3rem;
	display: inline-block;
	line-height: 1.2rem;
}
.people_medal{
	background: #fff;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
.record_kind img{
	width: 11.37rem;
}
.record_kind p{
	color: #333;
	text-align: center;
	font-size: 1rem;
	line-height: 1.6rem;
}
.get_if{
	text-align: center;
	font-size: 0.89rem;
	color: #939393;
	line-height: 2rem;
}

/************************************************************/