*{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "MicroSoft YaHei";
	font-style: normal;
	font-weight: normal;
}
a{
	text-decoration: none;
}
input,select{
	outline: 0;
}
ul,li{
	list-style: none;
}
/*---1??ˉì?′óD?--*/  
::-webkit-scrollbar{  
   width:0px;  
   height:0px;  
}  
::-moz-scrollbar{  
   width:0px;  
   height:0px;  
}  
::-ms-scrollbar{  
   width:0px;  
   height:0px;  
}  
::-o-scrollbar{  
   width:0px;  
   height:0px;  
} 
body{
	font-size: 32px;
}
@media screen and (max-width:720px) {
body {font-size:32px;}
}
@media screen and (max-width:709px) {
body {font-size:31px;}
}
@media screen and (max-width:686px) {
body {font-size:30px;}
}
@media screen and (max-width:663px) {
body {font-size:29px;}
}
@media screen and (max-width:640px) {
body {font-size:28px;}
}
@media screen and (max-width:617px) {
body {font-size:27px;}
}
@media screen and (max-width:594px) {
body {font-size:26px;}
}
@media screen and (max-width:571px) {
body {font-size:25px;}
}
@media screen and (max-width:548px) {
body {font-size:24px;}
}
@media screen and (max-width:525px) {
body {font-size:23px;}
}
@media screen and (max-width:502px) {
body {font-size:22px;}
}
@media screen and (max-width:480px) {
body {font-size:21px;}
}
@media screen and (max-width:457px) {
body {font-size:20px;}
}
@media screen and (max-width:434px) {
body {font-size:19px;}
}
@media screen and (max-width:411px) {
body {font-size:18px;}
}
@media screen and (max-width:388px) {
body {font-size:17px;}
}
@media screen and (max-width:365px) {
body {font-size:16px;}
}
@media screen and (max-width:342px) {
body {font-size:15px;}
}
@media screen and (max-width:320px) {
body {font-size:14px;}
}

/*html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}*/
.wrap{
	width: 100%;
	/*height: 100%;*/
	max-width: 720px;
	min-width: 320px;
	margin: 0 auto;
	box-sizing:border-box;
	background-color: #f5f5f5;
	overflow: hidden;
}


/*************************************************/
.head{
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	padding: 0.5em 1em;
	height: 3.5em;
	box-shadow: 0px 3px 3px rgba(204,204,204,0.5);
	/*position: relative;*/
	z-index: 5;
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	max-width: 720px;
	box-sizing:border-box;
}
.chezhihui_link{
	float: right;
	color: #fff;
	font-size: 1em;
	border-radius: 5px;
	background-color: #009dd9;
	padding: 0 0.7em;
	line-height: 1.8em;
	height: 1.8em;
	margin-top: 0.3em;
}
.chezhihui_link:hover{
	background-color: #0090c7;
}
.head .open{
	margin-top: 0.3em;
}
.head h3{
	float: left;
	background: url(../images/chezhihui.png) 0 center no-repeat;
	background-size: 1.2em 1.2em;
	font-size: 1.1em;
	color: #333;
	padding-left: 1.5em;
	line-height: 1.8em;
	height: 1.8em;
}
.chezhihui{
	float: left;
	background: url(../images/chezhihui.png) 0 center no-repeat;
	background-size: 1.6em 1.6em;
	padding-left: 1.9em;
}
.chezhihui strong{
	font-size: 1em;
	color: #333;
	line-height: 1.4em;
	display: inline-block;
	height: 1.4em;
}
.chezhihui p{
	font-size: 0.8em;
	color: #666;
	line-height: 1.2em;
	height: 1.2em;
}
.con{
	/*overflow-y: auto;*/
	position: relative;
	padding:3.5em 0;
	box-sizing:border-box;
}
/*************************************************/

/******************************************************/
.car_time{
	padding-top: 1em;
	text-align: center;
	font-size: 1.133em;
	color: #939393;
	
}
.map{
	width: 100%;
	height: 10em;
	overflow: hidden;
}

.fuel_pk{
	overflow: hidden;
	zoom:1;
	padding: 1em 8.3% 2em;
	
}
.fuel_pk div{
	float: left;
}
.pk_my,.pk_other{
	padding: 0.5em 0;
	text-align: center;
	width: 36%;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
	box-sizing:border-box;
	position: relative;
}
.fuel_pk div span{
	color: #939393;
	font-size: 1em;
}
.fuel_pk div em{
	color: #939393;
	font-size: 0.7333em;
}
.fuel_pk div var{

	color: #939393;
	font-size: 1.8em;
	font-weight: bold;
}
.fuel_pk div var.fuel_red{
	color: #ff5f5f;
}
.fuel_pk div var.fuel_blue{
	color: #50c0e9;

}
.pk_pk{
	padding-top: 0.7em;
	width: 28%;
	text-align: center;
	font-size: 2em;
	color: #c4c4c4;
	font-weight: bold;
}
.fuel_win{
	position: absolute;
	width: 4.2em;
	height: 2.8667em;
	background: url(../images/icon_win.png) 0 0 no-repeat;
	background-size: 100% 100%;
	top:2.3333em;
	display: none;
}
.pk_my .fuel_win{
	right: -2.3em;
}
.pk_other .fuel_win{
	left:-2.3em;
}

.fuel1_list{
	overflow: hidden;
	zoom:1;
}
.fuel1_list li{
	float: left;
	box-sizing:border-box;
	width: 50%;
	border-right:1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	padding: 0.8em 0 0.8em 0.5em;
}
.fuel1_list li.cpai{
	width: 100%;
	border-right: none;
	padding-left: 1em;
}
.fuel1_list li div{
	padding-left: 3em;
}
.fuel1_list li.cpai div{
	padding-left: 4em;
}
.fuel1_list .licheng div{
	background: url(../images/licheng.png) 0 0 no-repeat;
	background-size: 2.8667em 2.6667em;
}
.fuel1_list .licheng1 div{
	background: url(../images/licheng1.png) 0 0 no-repeat;
	background-size: 2.8667em 2.6667em;
}
.fuel1_list .chesu div{
	background: url(../images/chesu.png) 0 0 no-repeat;
	background-size: 2.8667em 2.6667em;
}
.fuel1_list .fchesu div{
	background: url(../images/fchesu.png) 0 0 no-repeat;
	background-size: 2.8667em 2.6667em;
}
.fuel1_list .chesu1 div{
	background: url(../images/chesu1.png) 0 0 no-repeat;
	background-size: 2.8667em 2.6667em;
}
.fuel1_list .chengben div{
	background: url(../images/chengben.png) 0 0 no-repeat;
	background-size: 2.8667em 2.6667em;
}
.fuel1_list .huafei div{
	background: url(../images/huafei.png) 0 0 no-repeat;
	background-size: 2.8667em 2.6667em;
}
.fuel1_list .cpai div{
	background: url(../images/cpai.png) 0 0 no-repeat;
	background-size: 2.8667em 2.6667em;
	height: 2.7em;
	line-height: 2.7em;
}
.fuel1_list .cpai1 div{
	background: url(../images/cpai.png) 0 0 no-repeat;
	background-size: 2.8667em 2.6667em;
}
.fuel1_list .pilao div{
	background: url(../images/pilao.png) 0 0 no-repeat;
	background-size: 2.8667em 2.6667em;
}
.fuel1_list .youpin div{
	background: url(../images/youpin.png) 0 0 no-repeat;
	background-size: 2.8667em 2.6667em;
}
.fuel1_list .youfei div{
	background: url(../images/youfei.png) 0 0 no-repeat;
	background-size: 2.8667em 2.6667em;
}
.fuel1_list .youhao div{
	background: url(../images/youhao.png) 0 0 no-repeat;
	background-size: 2.8667em 2.6667em;
}
.fuel1_list .youmen div{
	background: url(../images/youmen.png) 0 0 no-repeat;
	background-size: 2.8667em 2.6667em;
}
.fuel1_list .shache div{
	background: url(../images/shache.png) 0 0 no-repeat;
	background-size: 2.8667em 2.6667em;
}
.fuel1_list .chaosu div{
	background: url(../images/chaosu.png) 0 0 no-repeat;
	background-size: 2.8667em 2.6667em;
}
.fuel1_list .jingyan div{
	background: url(../images/jingyan.png) 0 0 no-repeat;
	background-size: 2.8667em 2.6667em;
}
.fuel1_list .reche div{
	background: url(../images/reche.png) 0 0 no-repeat;
	background-size: 2.8667em 2.6667em;
}
.fuel1_list li div span{
	color: #939393;
	font-size: 1.1em;
}
.fuel1_list li.cpai div span{
	font-size: 1.25em;
}
.fuel1_list li div var{
	color: #50c0e9;
	font-size: 1.25em;
}
.fuel1_list li.cpai div var{
	color: #50c0e9;
	font-size: 1.7em;
}
.fuel1_list .youpin div var{
	text-decoration: underline;
}
.fuel1_list li div em{
	color: #939393;
	font-size: 0.7667em;
}
.fuel1_list li.cpai div em{
	color: #939393;
	font-size: 1em;
}
.fuel1_data{
	text-align: center;
	background-color: #50c0e9;
	padding: 0.5em 0;
}
.details_good .fuel1_data{
	background-color: #50c0e9;
}
.details_best .fuel1_data{
	background-color: #a8d324;
}
.details_bad .fuel1_data{
	background-color: #ffc641;
}
.details_so .fuel1_data{
	background-color: #858585;
}
.details_terrible .fuel1_data{
	background-color: #ff5f5f;
}
.fuel1_data p{
	color: #fff;
	font-size: 1em;
}
.fuel1_data strong{
	font-size: 1.2em;
	color: #fff;
}
.people h3{
	color: #939393;
	font-weight: bold;
	font-size: 1.4em;
	text-align: center;
	line-height: 2.4em;
}
.people{	
	height: 10em;
	background: url(../images/details_good.png) center 3em no-repeat #fff;
	background-size: 75%;
}
.details_good .people{
	background: url(../images/details_good.png) center 3em no-repeat #fff;
	background-size: 75%;
}
.details_bad .people{
	background: url(../images/details_bad.png) center 3em no-repeat #fff;
	background-size: 75%;
}
.details_best .people{
	background: url(../images/details_best.png) center 3em no-repeat #fff;
	background-size: 75%;
}
.details_so .people{
	background: url(../images/details_so.png) center 3em no-repeat #fff;
	background-size: 75%;
}
.details_terrible .people{
	background: url(../images/details_terrible.png) center 3em no-repeat #fff;
	background-size: 75%;
}
.BMap_omCtrl{
	width:5em !important;
	height: 5em !important;
}
.BMap_omOutFrame{
	width: 100% !important;
	height: 100% !important;
	box-sizing:border-box !important;
}
.BMap_omInnFrame{
	width: 4.75em !important;
	height: 4.75em !important;
	box-sizing:border-box !important;
	left: 0.2em !important;
	top:0.2em !important;
}

/******************************************************/


/**********************************************************/
.grade_top{
	padding: 1em 5.56% 0;
	border-bottom: 1px solid #c5c5c5;
}
.grade_top ul{
	overflow: hidden;
	zoom:1;
	padding-top: 0.5em;
	padding-bottom:1em;
	
}
.grade_top ul li{
	text-align: center;
	float: left;
	width: 33.3%;
	background: url(../images/cline.png) right 0 no-repeat;
	background-size: 1px 100%;
}
.grade_top ul li p{
	color: #939393;
	font-size: 0.9333em;
}
.grade_top ul li p span{
	color: #50c0e9;
	font-size: 1.5em;
}
.grade_top ul li p var{
	color: #939393;
	font-size: 0.8667em;
}
.grade_top .grade_sel{
	text-align: center;
}
.grade_sel select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	background-color: #f5f5f5;
	font-size: 1.2em;
	color: #50c0e9;
	padding: 0 0.5em;
	border-bottom: 1px solid #939393;
	background: url(../images/line_down.png) right bottom no-repeat;
	background-size: 0.6389em 1.472em;
}
.grade_sel select optgroup{
	color: #fff;
	background-color: #000;
}
.grade_sel select optgroup option{
	color: #000;
}
.grade_sel p{
	color: #939393;
}
.people_win{
	background: url(../images/oil_bg.png) center 3.7em no-repeat #fff;
	background-size: 60%;
	border-bottom: 1px solid #ccc;
}
.people_beat{
	background: url(../images/oil_bg1.png) center 3.7em no-repeat #fff;
	background-size: 60%;
	border-bottom: 1px solid #ccc;
}
.people_ping{
	background: url(../images/oil_ping.png) center 3.7em no-repeat #fff;
	background-size: 60%;
	border-bottom: 1px solid #ccc;
}
/**********************************************************/


/*********************************************************/
.get_medal{
	text-align: center;
	line-height: 3em;
	height: 3em;
	color: #939393;
}
.get_medal span{
	color: #2db466;
	font-weight: bold;
	font-size: 1.5em;
}
.medal_detail{
	overflow: hidden;
	padding-bottom: 0.5em;
}
.medal_detail div{
	float: left;
	text-align: center;
	overflow: hidden;
	
	/*padding-top: 0.5em;*/
	width: 33.3%;
}
.medal_detail div img{
	width: 60%;
}
.medal_detail div p{
	font-size: 0.8em;
	color: #333;
}
.medal_detail div span{
	font-size: 0.7em;
	color: #939393;
	padding:0 0.6em;
	display: inline-block;
}
.people_medal{
	height: auto;
	background: #fff;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
.medal_type{
	width: 23%;
	display: inline-block;
}
.medal_kind img{
	width: 55%;
}
.medal_kind p{
	color: #333;
	text-align: center;
	font-size: 1.2em;
	line-height: 1.6em;
}
.get_if{
	text-align: center;
	font-size: 1em;
	color: #939393;
	line-height: 2em;
}
.record_detail{
	overflow: hidden;
	padding-bottom: 0.5em;
}
.record_detail div{
	float: left;
	width: 33.3%;
	text-align: center;
}
.record_detail div img{
	width:65%;
}
.record_detail div p{
	width: 100%;
	text-align: center;
	font-size: 0.8em;
	color: #333;
}
.record_detail div span{
	font-size: 0.7em;
	color: #939393;
	padding: 0 0.6em;
	display: inline-block;
}
.record_kind{
	text-align: center;	
}
.record_kind img{
	width: 60%;
}
.record_kind p{
	font-size: 1.2em;
	color: #333;
	line-height: 1.6em;
}
.record_kind p.num{
	color: #333;
	font-size:1.1em;
}

/*********************************************************/

/**********************************************************/
.footer{
	width: 100%;
	box-sizing:border-box;
	padding:0.5em 1em;
	border-top:1px solid #ccc;
	/*position: relative;*/
	position: absolute;
	left: 0;
	bottom:0;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0px -3px 3px rgba(204,204,204,0.5);
}
/**********************************************************/


/**********************************************************/
.car_condition{
	background-color: #50c0e9;
	text-align: center;
	color: #fff;
	padding: 1em 0;
}
.car_condition_good{
	background-color: #50c0e9;
}
.car_condition_bad{
	background-color: #ffc641;
}
.car_condition_terrible{
	background-color: #ffc641;
}
.car_condition strong{
	font-size: 1.4em;
	line-height: 2em;
	display: inline-block;
	height: 2em;
	padding-left: 1.5em;
	background:url(../images/detect_safety_good.png) 0 center no-repeat;
	background-size: 1.3em 1.3em;
}
.car_condition_good strong{
	background:url(../images/detect_safety_good.png) 0 center no-repeat;
	background-size: 1.3em 1.3em;
}
.car_condition_bad strong{
	background:url(../images/detect_safety_bad.png) 0 center no-repeat;
	background-size: 1.3em 1.3em;
}
.car_condition_terrible strong{
	background:url(../images/detect_safety_terrible.png) 0 center no-repeat;
	background-size: 1.3em 1.3em;
}
.car_condition p{
	font-size: 1em;
	line-height: 2em;
}
.car_condition p span{
	color: #e36861;
}
.fault_total{
	overflow: hidden;
	padding: 0 0.5em;
	height: 3em;
	line-height: 3em;
	border-bottom: 1px solid #ccc;
}
.fault_total span{
	float: left;
	font-size: 0.9em;
	color: #333;
}
.fault_total var{
	float: right;
}
.fault_total var em{
	color: #e36861;
	text-decoration: underline;
}
.fault_total var strong{
	color: #666;
	font-size: 0.8em;
}
.fault_detail{
	overflow: hidden;
}
.fault_part{
	float: left;
	width: 50%;
	padding:0.5em 0.4em 1.5em;
	box-sizing:border-box;
	border-right:1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	position: relative;
}
.fault_part div{
	overflow: hidden;
}
.fault_part div span{
	float: left;
}
.fault_part div var{
	float: right;
}
.fault_part1 span{
	color: #666;
	font-size: 0.8em;
}
.fault_part1 var{
	color: #50c0e9;
	text-decoration: underline;
	font-size: 0.8em;
}
.fault_part_good .fault_part1 var{
	color: #50c0e9;
}
.fault_part_bad1 .fault_part1 var,.fault_part_bad2 .fault_part1 var{
	color: #e36861;
}
.fault_orange_bad1 .fault_part1 var,.fault_orange_bad2 .fault_part1 var{
	color: #ff9e40;
}
.fault_part2 span,.fault_part2 var,.fault_part3 span,.fault_part3 var{
	width: 35%;
	text-align: center;
	color: #666;
	font-size: 0.8em;
}
.fault_part3 span,.fault_part3 var{
	font-size: 0.6em;
	height: 1em;
	overflow: hidden;
}
.fault_part1,.fault_part2{
	height: 1.4em;
	line-height: 1.4em;
}
.fault_part3{
	border: 1px solid #ccc;
	border-top: none;	
}
.fault_part .detect_arrow{
	position: absolute;
	bottom:4.8em;
	width: 0.8em;
	height: 0.7em;
}
.fault_part_good .detect_arrow{
	left:50%;
	margin-left: -0.4em;
	background: url(../images/detect_arrow_blue.png) 0 0 no-repeat;
	background-size: 0.8em 0.7em;
}
.fault_part_bad1 .detect_arrow{
	left:8%;
	background: url(../images/detect_arrow_red.png) 0 0 no-repeat;
	background-size: 0.8em 0.7em;
}
.fault_part_bad2 .detect_arrow{
	right:8%;
	background: url(../images/detect_arrow_red.png) 0 0 no-repeat;
	background-size: 0.8em 0.7em;
}
.fault_orange_bad1 .detect_arrow{
	left:8%;
	background: url(../images/detect_arrow_orange.png) 0 0 no-repeat;
	background-size: 0.8em 0.7em;
}
.fault_orange_bad2 .detect_arrow{
	right:8%;
	background: url(../images/detect_arrow_orange.png) 0 0 no-repeat;
	background-size: 0.8em 0.7em;
}
.condition_judge{
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 1.1em;
	height: 2em;
	line-height: 2em;
	background-color:#50c0e9;
	margin-top: 1em; 
}
.fault_part_good .condition_judge{
	background-color: #50c0e9;
}
.fault_part_bad1 .condition_judge,.fault_part_bad2 .condition_judge{
	background-color: #e36861;
}
.fault_orange_bad1 .condition_judge,.fault_orange_bad2 .condition_judge{
	background-color: #ff9e40;
}
.detect_time{
	font-size: 1.1em;
	line-height: 2em;
	height: 2em;
	color: #666;
	text-align: center;
}
.people_car_good{
	height: 10em;
	background: url(../images/condition_good.png) center 3em no-repeat #fff;
	background-size: 10em;
}
.people_car_bad{
	height: 10em;
	background: url(../images/condition_bad.png) center 3em no-repeat #fff;
	background-size: 10em;
}
.people_car_terrible{
	height: 10em;
	background: url(../images/condition_bad.png) center 3em no-repeat #fff;
	background-size: 10em;
}
/**********************************************************/

/************************************************************/
.car_score{
	position: relative;
	border-bottom: 1px solid #ccc;
	padding-bottom: 2em;
	border-top:1px solid #ccc;
	background-color: #f5f5f5;
}
.car_score h3{
	text-align: center;
	color: #939393;
	font-size: 1.2em;
	height: 2.25em;
	line-height: 2.25em;
	margin: 1em 0;
}
.car_details a var{
	position: absolute;
	font-size: 0.9333em;
	color: #939393;
	
}
.car_details a span{
	color: #666;
	text-decoration: underline;
	font-size: 1.133em;
}
.car_details{
	position: absolute;
	width: 86%;
	padding: 0 7%;
}
.car_details a{
	position: relative;
	float: left;
	height: 8em;
	width: 50%;
}
.car_details a strong{
	position: absolute;
	color: #000;
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 0px 0px 5px #fff;
	/*display: none;*/
}
.car_details a.car_details1 strong{
	top:2.1em;
	left: 44%;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.car_details a.car_details2 strong{
	top:2.1em;
	left: 32%;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
}
.car_details a.car_details3 strong{
	top:2em;
	left: 44%;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
}
.car_details a.car_details4 strong{
	top:2em;
	left: 30%;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.canvas{
	width: 65%;
	margin: 0 auto;
	overflow:hidden;
	
}
.canvas canvas{
	width: 100%;
	background: url(../images/bg2.png) center center no-repeat;
	background-size: 100%;
	
}
.car_result{
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0;
	top:6.2em;
}
.car_result span{
	color: #939393;
	font-size: 1em;
}
.car_result var{
	color: #939393;
	font-size: 1.4em;
	font-weight: bold;
}
.person_medal{
	border-bottom: 1px solid #ccc;
}

/************************************************************/

.dTc_bg{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #000;
	opacity: 0.5;
	left: 0;
	top:0;
	display: none;
	z-index: 11;
}
.dTc_android,.dTc_iphone{
	display: none;
	z-index: 12;
	background: url(../images/step_bg.png) 80% 3em no-repeat;
	background-size: 18%;
	height: 100%;
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	padding:7.5em 2em;
	box-sizing:border-box;

}
.dTc_android ul li,.dTc_iphone ul li{
	color: #fff;
}
.dTc_android .step_2,.dTc_iphone .step_2{
	padding-top: 2.3em;
	background: url(../images/step_2_a.png) 1em 1em no-repeat;
	background-size: 33%;
	height: 10em;
	padding-left:44%;
}
.dTc_iphone .step_2{
	background: url(../images/step_2_i.png) 1em 1em no-repeat;
	background-size: 33%;
}
.dTc_android .step_2 a,.dTc_iphone .step_2 a{
	text-decoration: underline;
	color: #fff;
}
.wrap #allmap{
      height:10em;
}


/**********************************team*****************************/
.join_step div{
	padding-top: 0.5em;
}
.join_step div p{
	color: #50c0e9;
	font-size: 0.9em;
	font-weight: bold;
	word-wrap:break-word;
}
.join_step div p span{
	font-weight: bold;
	word-wrap:break-word;
	color:red;
}
.join_step div p var{
	font-size: 0.9em;
	color: #999;
}
.join_step1 p{
	line-height: 1.4em;
	padding-left: 4.2em;
	background: url(../images/step_1_j.png) 0.7em 0.5em no-repeat;
	background-size: 3.5em;
}
.join_step2 p{
	padding-top: 0.5em;
	height: 3.2em;
	padding-right: 3.8em;
	text-align: right;
	background: url(../images/step_2_j.png) right 0 no-repeat;
	background-size: 3.5em;
}
.join_step1{
	background: url(../images/step1.jpg) 0 6em no-repeat #fff;
	background-size: 100%;
	padding-bottom: 16.5em;
}
.join_step2{
	background: url(../images/step2.jpg) 0 2.5em no-repeat #fff;
	background-size: 100%;
	padding-right: 4.8em;
	padding-bottom: 17.8em;
}
/**********************************team*****************************/