.join_step div{
	padding-top: 0.5rem;
}
.join_step div p{
	color: #50c0e9;
	font-size: 1rem;
	font-weight: bold;
	word-wrap:break-word;
}
.join_step div p span{
	font-weight: bold;
	word-wrap:break-word;
	color:red;
}
.join_step div p var{
	font-size: 1rem;
	font-style: normal;
	color: #999;
}
.join_step1 p{
	line-height: 1.4rem;
	padding-left: 4.2rem;
	background: url(../images/step_1_j.png) 0.7rem 0.5rem no-repeat;
	background-size: 3.5rem;
}
.join_step2 p{
	padding-top: 0.5rem;
	height: 3.2rem;
	padding-right: 3.8rem;
	text-align: right;
	background: url(../images/step_2_j.png) right 0 no-repeat;
	background-size: 3.5rem;
}
.join_step1{
	background: url(../images/step1.jpg) 0 6rem no-repeat #fff;
	background-size: 100%;
	padding-bottom: 16.5rem;
}
.join_step2{
	background: url(../images/step2.jpg) 0 2.5rem no-repeat #fff;
	background-size: 100%;
	padding-right: 4.8rem;
	padding-bottom: 17.8rem;
}